# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Tango scheme by@Schnouki, based on the Tango Desktop Project

custom_background_color #2e3436
custom_text_color #ad7fa8

page_separator_color #2e3436
search_highlight_color #c4a000
status_bar_color #2e3436
status_bar_text_color #ad7fa8
ui_text_color #ad7fa8
ui_selected_text_color #ad7fa8
ui_background_color #8ae234
ui_selected_background_color #555753
background_color #2e3436
visual_mark_color #06989a
text_highlight_color #555753
link_highlight_color #3465a4
synctex_highlight_colour #cc0000
