# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Sakura scheme byMisterio77 (http://github.com/Misterio77)

custom_background_color #feedf3
custom_text_color #42383a

page_separator_color #feedf3
search_highlight_color #c29461
status_bar_color #feedf3
status_bar_text_color #42383a
ui_text_color #42383a
ui_selected_text_color #42383a
ui_background_color #f8e2e7
ui_selected_background_color #755f64
background_color #feedf3
visual_mark_color 0.45882353 0.37254903 0.39215687 0.2
text_highlight_color #755f64
link_highlight_color #006e93
synctex_highlight_color #df2d52
