# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# DanQing scheme byWenhan Zhu (Cosmos) (zhuwenhan950913@gmail.com)

custom_background_color #2d302f
custom_text_color #ecf6f2

page_separator_color #2d302f
search_highlight_color #f0c239
status_bar_color #2d302f
status_bar_text_color #ecf6f2
ui_text_color #ecf6f2
ui_selected_text_color #ecf6f2
ui_background_color #434846
ui_selected_background_color #9da8a3
background_color #2d302f
visual_mark_color 0.6156863 0.65882355 0.6392157 0.2
text_highlight_color #9da8a3
link_highlight_color #b0a4e3
synctex_highlight_color #f9906f
