# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Mountain scheme bygnsfujiwara (https://github.com/gnsfujiwara)

custom_background_color #0f0f0f
custom_text_color #e7e7e7

page_separator_color #0f0f0f
search_highlight_color #aca98a
status_bar_color #0f0f0f
status_bar_text_color #e7e7e7
ui_text_color #e7e7e7
ui_selected_text_color #e7e7e7
ui_background_color #191919
ui_selected_background_color #4c4c4c
background_color #0f0f0f
visual_mark_color 0.29803923 0.29803923 0.29803923 0.2
text_highlight_color #4c4c4c
link_highlight_color #8f8aac
synctex_highlight_color #ac8a8c
