# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Equilibrium Gray Light scheme by Carlo Abelli

custom_background_color #f1f1f1
custom_text_color #303030

page_separator_color #f1f1f1
search_highlight_color #9d6f00
status_bar_color #f1f1f1
status_bar_text_color #303030
ui_text_color #303030
ui_selected_text_color #303030
ui_background_color #e2e2e2
ui_selected_background_color #777777
background_color #f1f1f1
visual_mark_color 0 0 0 0.2
text_highlight_color #777777
link_highlight_color #0073b5
synctex_highlight_color #d02023
