# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# vulcan scheme by Andrey Varfolomeev

custom_background_color #041523
custom_text_color #333238

page_separator_color #041523
search_highlight_color #adb4b9
status_bar_color #041523
status_bar_text_color #333238
ui_text_color #333238
ui_selected_text_color #333238
ui_background_color #122339
ui_selected_background_color #7a5759
background_color #041523
visual_mark_color 0 0 0 0.2
text_highlight_color #7a5759
link_highlight_color #977d7c
synctex_highlight_color #818591
