# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Windows 10 scheme by Fergus Collins (https://github.com/C-Fergus)

custom_background_color #0c0c0c
custom_text_color #dfdfdf

page_separator_color #0c0c0c
search_highlight_color #f9f1a5
status_bar_color #0c0c0c
status_bar_text_color #dfdfdf
ui_text_color #dfdfdf
ui_selected_text_color #dfdfdf
ui_background_color #2f2f2f
ui_selected_background_color #767676
background_color #0c0c0c
visual_mark_color 0.46274510 0.46274510 0.46274510 0.2
text_highlight_color #767676
link_highlight_color #3b78ff
synctex_highlight_color #e74856
