# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Tokyo Night Dark scheme byMichaël Ball

custom_background_color #1a1b26
custom_text_color #cbccd1

page_separator_color #1a1b26
search_highlight_color #0db9d7
status_bar_color #1a1b26
status_bar_text_color #cbccd1
ui_text_color #cbccd1
ui_selected_text_color #cbccd1
ui_background_color #16161e
ui_selected_background_color #444b6a
background_color #1a1b26
visual_mark_color 0.26666668 0.29411766 0.41568628 0.2
text_highlight_color #444b6a
link_highlight_color #2ac3de
synctex_highlight_color #c0caf5
