# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Grayscale Dark scheme by Alexandre Gavioli (https://github.com/Alexx2/)

custom_background_color #101010
custom_text_color #e3e3e3

page_separator_color #101010
search_highlight_color #a0a0a0
status_bar_color #101010
status_bar_text_color #e3e3e3
ui_text_color #e3e3e3
ui_selected_text_color #e3e3e3
ui_background_color #252525
ui_selected_background_color #525252
background_color #101010
visual_mark_color 0 0 0 0.2
text_highlight_color #525252
link_highlight_color #686868
synctex_highlight_color #7c7c7c
