# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# lime scheme bylimelier

custom_background_color #1a1a2f
custom_text_color #fff2d1

page_separator_color #1a1a2f
search_highlight_color #ffd15e
status_bar_color #1a1a2f
status_bar_text_color #fff2d1
ui_text_color #fff2d1
ui_selected_text_color #fff2d1
ui_background_color #202030
ui_selected_background_color #313140
background_color #1a1a2f
visual_mark_color #4cad83
text_highlight_color #313140
link_highlight_color #2b926f
synctex_highlight_colour #ff662a
