# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Synth Midnight Terminal Light scheme by Michaël Ball (http://github.com/michael-ball/)

custom_background_color #dddfe0
custom_text_color #1a1b1c

page_separator_color #dddfe0
search_highlight_color #c9d364
status_bar_color #dddfe0
status_bar_text_color #1a1b1c
ui_text_color #1a1b1c
ui_selected_text_color #1a1b1c
ui_background_color #cfd1d2
ui_selected_background_color #a3a5a6
background_color #dddfe0
visual_mark_color 0.63921569 0.64705882 0.65098039 0.2
text_highlight_color #a3a5a6
link_highlight_color #03aeff
synctex_highlight_color #b53b50
