# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Catppuccin Mocha scheme by https://github.com/catppuccin/catppuccin

custom_background_color #1e1e2e
custom_text_color #f5e0dc

page_separator_color #1e1e2e
search_highlight_color #f9e2af
status_bar_color #1e1e2e
status_bar_text_color #f5e0dc
ui_text_color #f5e0dc
ui_selected_text_color #f5e0dc
ui_background_color #181825
ui_selected_background_color #45475a
background_color #1e1e2e
visual_mark_color 0.27058824 0.27843137 0.35294118 0.2
text_highlight_color #45475a
link_highlight_color #89b4fa
synctex_highlight_color #f38ba8
