# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Atelier Sulphurpool scheme byBram de Haan (http://atelierbramdehaan.nl)

custom_background_color #202746
custom_text_color #dfe2f1

page_separator_color #202746
search_highlight_color #c08b30
status_bar_color #202746
status_bar_text_color #dfe2f1
ui_text_color #dfe2f1
ui_selected_text_color #dfe2f1
ui_background_color #293256
ui_selected_background_color #6b7394
background_color #202746
visual_mark_color 0.41960785 0.4509804 0.5803922 0.2
text_highlight_color #6b7394
link_highlight_color #3d8fd1
synctex_highlight_color #c94922
