# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# OneDark scheme byLalit Magant (http://github.com/tilal6991)

custom_background_color #282c34
custom_text_color #b6bdca

page_separator_color #282c34
search_highlight_color #e5c07b
status_bar_color #282c34
status_bar_text_color #b6bdca
ui_text_color #b6bdca
ui_selected_text_color #b6bdca
ui_background_color #353b45
ui_selected_background_color #545862
background_color #282c34
visual_mark_color #56b6c2
text_highlight_color #545862
link_highlight_color #61afef
synctex_highlight_colour #e06c75
