# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# PhD scheme by Hennig Hasemann (http://leetless.de/vim.html)

custom_background_color #061229
custom_text_color #dbdde0

page_separator_color #061229
search_highlight_color #fbd461
status_bar_color #061229
status_bar_text_color #dbdde0
ui_text_color #dbdde0
ui_selected_text_color #dbdde0
ui_background_color #2a3448
ui_selected_background_color #717885
background_color #061229
visual_mark_color 0 0 0 0.2
text_highlight_color #717885
link_highlight_color #5299bf
synctex_highlight_color #d07346
