# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Kanagawa scheme byTommaso Laurenzi (https://github.com/rebelot)

custom_background_color #1f1f28
custom_text_color #c8c093

page_separator_color #1f1f28
search_highlight_color #c0a36e
status_bar_color #1f1f28
status_bar_text_color #c8c093
ui_text_color #c8c093
ui_selected_text_color #c8c093
ui_background_color #16161d
ui_selected_background_color #54546d
background_color #1f1f28
visual_mark_color 0.32941177 0.32941177 0.42745098 0.2
text_highlight_color #54546d
link_highlight_color #7e9cd8
synctex_highlight_color #c34043
