# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# tender scheme by Jacobo Tabernero (https://github/com/jacoborus/tender.vim)

custom_background_color #282828
custom_text_color #e8e8e8

page_separator_color #282828
search_highlight_color #ffc24b
status_bar_color #282828
status_bar_text_color #e8e8e8
ui_text_color #e8e8e8
ui_selected_text_color #e8e8e8
ui_background_color #383838
ui_selected_background_color #4c4c4c
background_color #282828
visual_mark_color 0.29803922 0.29803922 0.29803922 0.2
text_highlight_color #4c4c4c
link_highlight_color #b3deef
synctex_highlight_color #f43753
