# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Mellow Purple scheme bygidsi

custom_background_color #1e0528
custom_text_color #ffeeff

page_separator_color #1e0528
search_highlight_color #955ae7
status_bar_color #1e0528
status_bar_text_color #ffeeff
ui_text_color #ffeeff
ui_selected_text_color #ffeeff
ui_background_color #1a092d
ui_selected_background_color #320f55
background_color #1e0528
visual_mark_color 0.19607843 0.05882353 0.33333334 0.2
text_highlight_color #320f55
link_highlight_color #550068
synctex_highlight_color #00d9e9
