# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Circus scheme byStephan Boyer (https://github.com/stepchowfun) and Esther Wang (https://github.com/ewang12)

custom_color_mode_empty_background_color #191919
custom_background_color #202020
custom_text_color #808080

page_separator_color #191919
search_highlight_color #c3ba63
status_bar_color #191919
status_bar_text_color #808080
ui_text_color #808080
ui_selected_text_color #808080
ui_background_color #202020
ui_selected_background_color #5f5a60
background_color #191919
visual_mark_color #4bb1a7
text_highlight_color #5f5a60
link_highlight_color #639ee4
synctex_highlight_colour #dc657d
