# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Darktooth scheme by Jason Milkins (https://github.com/jasonm23)

custom_background_color #1d2021
custom_text_color #d5c4a1

page_separator_color #1d2021
search_highlight_color #fac03b
status_bar_color #1d2021
status_bar_text_color #d5c4a1
ui_text_color #d5c4a1
ui_selected_text_color #d5c4a1
ui_background_color #32302f
ui_selected_background_color #665c54
background_color #1d2021
visual_mark_color 0 0 0 0.2
text_highlight_color #665c54
link_highlight_color #0d6678
synctex_highlight_color #fb543f
