# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Gotham scheme byAndrea Leopardi (arranged by Brett Jones)

custom_color_mode_empty_background_color #0c1014
custom_background_color #11151c
custom_text_color #99d1ce

page_separator_color #0c1014
search_highlight_color #edb443
status_bar_color #0c1014
status_bar_text_color #99d1ce
ui_text_color #99d1ce
ui_selected_text_color #99d1ce
ui_background_color #11151c
ui_selected_background_color #0a3749
background_color #0c1014
visual_mark_color #2aa889
text_highlight_color #0a3749
link_highlight_color #195466
synctex_highlight_colour #c23127
