# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Helios scheme byAlex Meyer (https://github.com/reyemxela)

custom_background_color #1d2021
custom_text_color #dddddd

page_separator_color #1d2021
search_highlight_color #f19d1a
status_bar_color #1d2021
status_bar_text_color #dddddd
ui_text_color #dddddd
ui_selected_text_color #dddddd
ui_background_color #383c3e
ui_selected_background_color #6f7579
background_color #1d2021
visual_mark_color 0.43529412 0.45882353 0.4745098 0.2
text_highlight_color #6f7579
link_highlight_color #1e8bac
synctex_highlight_color #d72638
