# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Atelier Plateau scheme byBram de Haan (http://atelierbramdehaan.nl)

custom_background_color #1b1818
custom_text_color #e7dfdf

page_separator_color #1b1818
search_highlight_color #a06e3b
status_bar_color #1b1818
status_bar_text_color #e7dfdf
ui_text_color #e7dfdf
ui_selected_text_color #e7dfdf
ui_background_color #292424
ui_selected_background_color #655d5d
background_color #1b1818
visual_mark_color #5485b6
text_highlight_color #655d5d
link_highlight_color #7272ca
synctex_highlight_colour #ca4949
