# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Rosé Pine Dawn scheme byEmilia Dunfelt &lt;sayhi@dunfelt.se&gt;

custom_color_mode_empty_background_color #faf4ed
custom_background_color #fffaf3
custom_text_color #555169

page_separator_color #faf4ed
search_highlight_color #ea9d34
status_bar_color #faf4ed
status_bar_text_color #555169
ui_text_color #555169
ui_selected_text_color #555169
ui_background_color #fffaf3
ui_selected_background_color #9893a5
background_color #faf4ed
visual_mark_color #286983
text_highlight_color #9893a5
link_highlight_color #56949f
synctex_highlight_colour #1f1d2e
