# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Hopscotch scheme by Jan T. Sott

custom_background_color #322931
custom_text_color #d5d3d5

page_separator_color #322931
search_highlight_color #fdcc59
status_bar_color #322931
status_bar_text_color #d5d3d5
ui_text_color #d5d3d5
ui_selected_text_color #d5d3d5
ui_background_color #433b42
ui_selected_background_color #797379
background_color #322931
visual_mark_color 0 0 0 0.2
text_highlight_color #797379
link_highlight_color #1290bf
synctex_highlight_color #dd464c
