# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Seti UI scheme by

custom_background_color #151718
custom_text_color #eeeeee

page_separator_color #151718
search_highlight_color #e6cd69
status_bar_color #151718
status_bar_text_color #eeeeee
ui_text_color #eeeeee
ui_selected_text_color #eeeeee
ui_background_color #282a2b
ui_selected_background_color #41535b
background_color #151718
visual_mark_color #55dbbe
text_highlight_color #41535b
link_highlight_color #55b5db
synctex_highlight_colour #cd3f45
