# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Brewer scheme byTimothée Poisot (http://github.com/tpoisot)

custom_background_color #0c0d0e
custom_text_color #dadbdc

page_separator_color #0c0d0e
search_highlight_color #dca060
status_bar_color #0c0d0e
status_bar_text_color #dadbdc
ui_text_color #dadbdc
ui_selected_text_color #dadbdc
ui_background_color #2e2f30
ui_selected_background_color #737475
background_color #0c0d0e
visual_mark_color 0.4509804 0.45490196 0.45882353 0.2
text_highlight_color #737475
link_highlight_color #3182bd
synctex_highlight_colour #e31a1c
