# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Purpledream scheme by malet

custom_background_color #100510
custom_text_color #eee0ee

page_separator_color #100510
search_highlight_color #f000a0
status_bar_color #100510
status_bar_text_color #eee0ee
ui_text_color #eee0ee
ui_selected_text_color #eee0ee
ui_background_color #302030
ui_selected_background_color #605060
background_color #100510
visual_mark_color 0.37647059 0.31372549 0.37647059 0.2
text_highlight_color #605060
link_highlight_color #00a0f0
synctex_highlight_color #ff1d0d
