# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Tokyo City Terminal Light scheme byMichaël Ball

custom_background_color #fbfbfd
custom_text_color #1d252c

page_separator_color #fbfbfd
search_highlight_color #8f5e15
status_bar_color #fbfbfd
status_bar_text_color #1d252c
ui_text_color #1d252c
ui_selected_text_color #1d252c
ui_background_color #f6f6f8
ui_selected_background_color #b7c5d3
background_color #fbfbfd
visual_mark_color #0f4b6e
text_highlight_color #b7c5d3
link_highlight_color #34548a
synctex_highlight_colour #8c4351
