# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Zenburn scheme byelnawe

custom_background_color #383838
custom_text_color #c0c0c0

page_separator_color #383838
search_highlight_color #e0cf9f
status_bar_color #383838
status_bar_text_color #c0c0c0
ui_text_color #c0c0c0
ui_selected_text_color #c0c0c0
ui_background_color #404040
ui_selected_background_color #6f6f6f
background_color #383838
visual_mark_color 0.43529412 0.43529412 0.43529412 0.2
text_highlight_color #6f6f6f
link_highlight_color #7cb8bb
synctex_highlight_colour #dca3a3
