# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Nord scheme by arcticicestudio

custom_background_color #2e3440
custom_text_color #eceff4

page_separator_color #2e3440
search_highlight_color #ebcb8b
status_bar_color #2e3440
status_bar_text_color #eceff4
ui_text_color #eceff4
ui_selected_text_color #eceff4
ui_background_color #3b4252
ui_selected_background_color #4c566a
background_color #2e3440
visual_mark_color 0.29803922 0.33725490 0.41568627 0.2
text_highlight_color #4c566a
link_highlight_color #81a1c1
synctex_highlight_color #bf616a
