# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Atelier Plateau Light scheme by Bram de Haan (http://atelierbramdehaan.nl)

custom_background_color #f4ecec
custom_text_color #292424

page_separator_color #f4ecec
search_highlight_color #a06e3b
status_bar_color #f4ecec
status_bar_text_color #292424
ui_text_color #292424
ui_selected_text_color #292424
ui_background_color #e7dfdf
ui_selected_background_color #7e7777
background_color #f4ecec
visual_mark_color 0.49411765 0.46666667 0.46666667 0.2
text_highlight_color #7e7777
link_highlight_color #7272ca
synctex_highlight_color #ca4949
