# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Ayu Light scheme byKhue Nguyen &lt;Z5483Y@gmail.com&gt;

custom_color_mode_empty_background_color #fafafa
custom_background_color #f3f4f5
custom_text_color #242936

page_separator_color #fafafa
search_highlight_color #f2ae49
status_bar_color #fafafa
status_bar_text_color #242936
ui_text_color #242936
ui_selected_text_color #242936
ui_background_color #f3f4f5
ui_selected_background_color #abb0b6
background_color #fafafa
visual_mark_color #4cbf99
text_highlight_color #abb0b6
link_highlight_color #36a3d9
synctex_highlight_colour #f07178
