# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Ocean scheme byChris Kempson (http://chriskempson.com)

custom_background_color #2b303b
custom_text_color #dfe1e8

page_separator_color #2b303b
search_highlight_color #ebcb8b
status_bar_color #2b303b
status_bar_text_color #dfe1e8
ui_text_color #dfe1e8
ui_selected_text_color #dfe1e8
ui_background_color #343d46
ui_selected_background_color #65737e
background_color #2b303b
visual_mark_color #96b5b4
text_highlight_color #65737e
link_highlight_color #8fa1b3
synctex_highlight_colour #bf616a
