# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Rosé Pine Moon scheme byEmilia Dunfelt &lt;sayhi@dunfelt.se&gt;

custom_background_color #232136
custom_text_color #f5f5f7

page_separator_color #232136
search_highlight_color #f6c177
status_bar_color #232136
status_bar_text_color #f5f5f7
ui_text_color #f5f5f7
ui_selected_text_color #f5f5f7
ui_background_color #2a273f
ui_selected_background_color #59546d
background_color #232136
visual_mark_color 0.34901962 0.32941177 0.42745098 0.2
text_highlight_color #59546d
link_highlight_color #9ccfd8
synctex_highlight_color #ecebf0
