# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Atelier Savanna scheme byBram de Haan (http://atelierbramdehaan.nl)

custom_background_color #171c19
custom_text_color #dfe7e2

page_separator_color #171c19
search_highlight_color #a07e3b
status_bar_color #171c19
status_bar_text_color #dfe7e2
ui_text_color #dfe7e2
ui_selected_text_color #dfe7e2
ui_background_color #232a25
ui_selected_background_color #5f6d64
background_color #171c19
visual_mark_color 0.37254903 0.42745098 0.39215687 0.2
text_highlight_color #5f6d64
link_highlight_color #478c90
synctex_highlight_colour #b16139
