# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Gruber scheme by Patel, Nimai &lt;nimai.m.patel@gmail.com&gt;, colors from www.github.com/rexim/gruber-darker-theme

custom_background_color #181818
custom_text_color #f5f5f5

page_separator_color #181818
search_highlight_color #ffdd33
status_bar_color #181818
status_bar_text_color #f5f5f5
ui_text_color #f5f5f5
ui_selected_text_color #f5f5f5
ui_background_color #453d41
ui_selected_background_color #52494e
background_color #181818
visual_mark_color 0.32156863 0.28627451 0.30588235 0.2
text_highlight_color #52494e
link_highlight_color #96a6c8
synctex_highlight_color #f43841
