# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Nebula scheme byGabriel Fontes (https://github.com/Misterio77)

custom_color_mode_empty_background_color #22273b
custom_background_color #414f60
custom_text_color #c7c9cd

page_separator_color #22273b
search_highlight_color #4f9062
status_bar_color #22273b
status_bar_text_color #c7c9cd
ui_text_color #c7c9cd
ui_selected_text_color #c7c9cd
ui_background_color #414f60
ui_selected_background_color #6e6f72
background_color #22273b
visual_mark_color #226f68
text_highlight_color #6e6f72
link_highlight_color #4d6bb6
synctex_highlight_colour #777abc
