# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Icy Dark scheme by icyphox (https://icyphox.ga)

custom_background_color #021012
custom_text_color #0c7c8c

page_separator_color #021012
search_highlight_color #80deea
status_bar_color #021012
status_bar_text_color #0c7c8c
ui_text_color #0c7c8c
ui_selected_text_color #0c7c8c
ui_background_color #031619
ui_selected_background_color #052e34
background_color #021012
visual_mark_color 0 0 0 0.2
text_highlight_color #052e34
link_highlight_color #00bcd4
synctex_highlight_color #16c1d9
