# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Gruvbox light, medium scheme byDawid Kurek (dawikur@gmail.com), morhetz (https://github.com/morhetz/gruvbox)

custom_background_color #fbf1c7
custom_text_color #3c3836

page_separator_color #fbf1c7
search_highlight_color #b57614
status_bar_color #fbf1c7
status_bar_text_color #3c3836
ui_text_color #3c3836
ui_selected_text_color #3c3836
ui_background_color #ebdbb2
ui_selected_background_color #bdae93
background_color #fbf1c7
visual_mark_color 0.7411765 0.68235296 0.5764706 0.2
text_highlight_color #bdae93
link_highlight_color #076678
synctex_highlight_color #9d0006
