# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Atelier Dune scheme by Bram de Haan (http://atelierbramdehaan.nl)

custom_background_color #20201d
custom_text_color #e8e4cf

page_separator_color #20201d
search_highlight_color #ae9513
status_bar_color #20201d
status_bar_text_color #e8e4cf
ui_text_color #e8e4cf
ui_selected_text_color #e8e4cf
ui_background_color #292824
ui_selected_background_color #7d7a68
background_color #20201d
visual_mark_color 0.49019608 0.47843137 0.40784314 0.2
text_highlight_color #7d7a68
link_highlight_color #6684e1
synctex_highlight_color #d73737
