# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Tokyo Night Storm scheme byMichaël Ball

custom_color_mode_empty_background_color #24283b
custom_background_color #16161e
custom_text_color #cbccd1

page_separator_color #24283b
search_highlight_color #0db9d7
status_bar_color #24283b
status_bar_text_color #cbccd1
ui_text_color #cbccd1
ui_selected_text_color #cbccd1
ui_background_color #16161e
ui_selected_background_color #444b6a
background_color #24283b
visual_mark_color #b4f9f8
text_highlight_color #444b6a
link_highlight_color #2ac3de
synctex_highlight_colour #c0caf5
