# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Horizon Terminal Light scheme byMichaël Ball (http://github.com/michael-ball/)

custom_color_mode_empty_background_color #fdf0ed
custom_background_color #fadad1
custom_text_color #302c2d

page_separator_color #fdf0ed
search_highlight_color #fadad1
status_bar_color #fdf0ed
status_bar_text_color #302c2d
ui_text_color #302c2d
ui_selected_text_color #302c2d
ui_background_color #fadad1
ui_selected_background_color #bdb3b1
background_color #fdf0ed
visual_mark_color #59e1e3
text_highlight_color #bdb3b1
link_highlight_color #26bbd9
synctex_highlight_colour #e95678
