# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# emil scheme bylimelier

custom_color_mode_empty_background_color #efefef
custom_background_color #bebed2
custom_text_color #22223a

page_separator_color #efefef
search_highlight_color #ff669b
status_bar_color #efefef
status_bar_text_color #22223a
ui_text_color #22223a
ui_selected_text_color #22223a
ui_background_color #bebed2
ui_selected_background_color #7c7c98
background_color #efefef
visual_mark_color #2155d6
text_highlight_color #7c7c98
link_highlight_color #471397
synctex_highlight_colour #f43979
