# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Macintosh scheme byRebecca Bettencourt (http://www.kreativekorp.com)

custom_background_color #000000
custom_text_color #c0c0c0

page_separator_color #000000
search_highlight_color #fbf305
status_bar_color #000000
status_bar_text_color #c0c0c0
ui_text_color #c0c0c0
ui_selected_text_color #c0c0c0
ui_background_color #404040
ui_selected_background_color #808080
background_color #000000
visual_mark_color 0.5019608 0.5019608 0.5019608 0.2
text_highlight_color #808080
link_highlight_color #0000d3
synctex_highlight_colour #dd0907
