# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Dracula scheme byMike Barkmin (http://github.com/mikebarkmin) based on Dracula Theme (http://github.com/dracula)

custom_background_color #282936
custom_text_color #f1f2f8

page_separator_color #282936
search_highlight_color #00f769
status_bar_color #282936
status_bar_text_color #f1f2f8
ui_text_color #f1f2f8
ui_selected_text_color #f1f2f8
ui_background_color #3a3c4e
ui_selected_background_color #626483
background_color #282936
visual_mark_color 0.38431373 0.39215687 0.5137255 0.2
text_highlight_color #626483
link_highlight_color #62d6e8
synctex_highlight_color #ea51b2
