# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Atelier Heath Light scheme by Bram de Haan (http://atelierbramdehaan.nl)

custom_background_color #f7f3f7
custom_text_color #292329

page_separator_color #f7f3f7
search_highlight_color #bb8a35
status_bar_color #f7f3f7
status_bar_text_color #292329
ui_text_color #292329
ui_selected_text_color #292329
ui_background_color #d8cad8
ui_selected_background_color #9e8f9e
background_color #f7f3f7
visual_mark_color 0.61960784 0.56078431 0.61960784 0.2
text_highlight_color #9e8f9e
link_highlight_color #516aec
synctex_highlight_color #ca402b
