# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# eris scheme by ed (https://codeberg.org/ed)

custom_background_color #0a0920
custom_text_color #7986c5

page_separator_color #0a0920
search_highlight_color #faaea2
status_bar_color #0a0920
status_bar_text_color #7986c5
ui_text_color #7986c5
ui_selected_text_color #7986c5
ui_background_color #13133a
ui_selected_background_color #333773
background_color #0a0920
visual_mark_color 0 0 0 0.2
text_highlight_color #333773
link_highlight_color #258fc4
synctex_highlight_color #f768a3
