# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Apprentice scheme byromainl

custom_background_color #262626
custom_text_color #c9c9c9

page_separator_color #262626
search_highlight_color #5f8787
status_bar_color #262626
status_bar_text_color #c9c9c9
ui_text_color #c9c9c9
ui_selected_text_color #c9c9c9
ui_background_color #303030
ui_selected_background_color #6c6c6c
background_color #262626
visual_mark_color 0.42352942 0.42352942 0.42352942 0.2
text_highlight_color #6c6c6c
link_highlight_color #ffffaf
synctex_highlight_color #5f8787
