# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Synth Midnight Terminal Dark scheme byMichaël Ball (http://github.com/michael-ball/)

custom_color_mode_empty_background_color #050608
custom_background_color #1a1b1c
custom_text_color #cfd1d2

page_separator_color #050608
search_highlight_color #c9d364
status_bar_color #050608
status_bar_text_color #cfd1d2
ui_text_color #cfd1d2
ui_selected_text_color #cfd1d2
ui_background_color #1a1b1c
ui_selected_background_color #474849
background_color #050608
visual_mark_color #42fff9
text_highlight_color #474849
link_highlight_color #03aeff
synctex_highlight_colour #b53b50
