# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Everforest Dark Hard scheme by Sainnhe Park (https://github.com/sainnhe)

custom_background_color #272e33
custom_text_color #edeada

page_separator_color #272e33
search_highlight_color #dbbc7f
status_bar_color #272e33
status_bar_text_color #edeada
ui_text_color #edeada
ui_selected_text_color #edeada
ui_background_color #2e383c
ui_selected_background_color #859289
background_color #272e33
visual_mark_color 0 0 0 0.2
text_highlight_color #859289
link_highlight_color #7fbbb3
synctex_highlight_color #e67e80
