# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Ashes scheme by Jannik Siebert (https://github.com/janniks)

custom_background_color #1c2023
custom_text_color #dfe2e5

page_separator_color #1c2023
search_highlight_color #aec795
status_bar_color #1c2023
status_bar_text_color #dfe2e5
ui_text_color #dfe2e5
ui_selected_text_color #dfe2e5
ui_background_color #393f45
ui_selected_background_color #747c84
background_color #1c2023
visual_mark_color 0 0 0 0.2
text_highlight_color #747c84
link_highlight_color #ae95c7
synctex_highlight_color #c7ae95
