# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Tomorrow Night scheme byChris Kempson (http://chriskempson.com)

custom_background_color #1d1f21
custom_text_color #e0e0e0

page_separator_color #1d1f21
search_highlight_color #f0c674
status_bar_color #1d1f21
status_bar_text_color #e0e0e0
ui_text_color #e0e0e0
ui_selected_text_color #e0e0e0
ui_background_color #282a2e
ui_selected_background_color #969896
background_color #1d1f21
visual_mark_color 0.5882353 0.59607846 0.5882353 0.2
text_highlight_color #969896
link_highlight_color #81a2be
synctex_highlight_colour #cc6666
