# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Still Alive scheme byDerrick McKee (derrick.mckee@gmail.com)

custom_color_mode_empty_background_color #f0f0f0
custom_background_color #f0d848
custom_text_color #489000

page_separator_color #f0f0f0
search_highlight_color #426395
status_bar_color #f0f0f0
status_bar_text_color #489000
ui_text_color #489000
ui_selected_text_color #489000
ui_background_color #f0d848
ui_selected_background_color #f01818
background_color #f0f0f0
visual_mark_color #2c3c57
text_highlight_color #f01818
link_highlight_color #001878
synctex_highlight_colour #487830
