# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Da One Paper scheme by NNB (https://github.com/NNBnh)

custom_background_color #faf0dc
custom_text_color #000000

page_separator_color #faf0dc
search_highlight_color #b3684f
status_bar_color #faf0dc
status_bar_text_color #000000
ui_text_color #000000
ui_selected_text_color #000000
ui_background_color #c8c8c8
ui_selected_background_color #585858
background_color #faf0dc
visual_mark_color 0.34509804 0.34509804 0.34509804 0.2
text_highlight_color #585858
link_highlight_color #5890f8
synctex_highlight_color #de5d6e
