# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Solarized Light scheme byEthan Schoonover (modified by aramisgithub)

custom_color_mode_empty_background_color #fdf6e3
custom_background_color #eee8d5
custom_text_color #073642

page_separator_color #fdf6e3
search_highlight_color #b58900
status_bar_color #fdf6e3
status_bar_text_color #073642
ui_text_color #073642
ui_selected_text_color #073642
ui_background_color #eee8d5
ui_selected_background_color #839496
background_color #fdf6e3
visual_mark_color #2aa198
text_highlight_color #839496
link_highlight_color #268bd2
synctex_highlight_colour #dc322f
