# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Qualia scheme byisaacwhanson

custom_background_color #101010
custom_text_color #c0c0c0

page_separator_color #101010
search_highlight_color #e6a3dc
status_bar_color #101010
status_bar_text_color #c0c0c0
ui_text_color #c0c0c0
ui_selected_text_color #c0c0c0
ui_background_color #454545
ui_selected_background_color #454545
background_color #101010
visual_mark_color #c8c874
text_highlight_color #454545
link_highlight_color #50cacd
synctex_highlight_colour #efa6a2
