# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Outrun Dark scheme byHugo Delahousse (http://github.com/hugodelahousse/)

custom_color_mode_empty_background_color #00002a
custom_background_color #20204a
custom_text_color #e0e0ff

page_separator_color #00002a
search_highlight_color #f3e877
status_bar_color #00002a
status_bar_text_color #e0e0ff
ui_text_color #e0e0ff
ui_selected_text_color #e0e0ff
ui_background_color #20204a
ui_selected_background_color #50507a
background_color #00002a
visual_mark_color #0ef0f0
text_highlight_color #50507a
link_highlight_color #66b0ff
synctex_highlight_colour #ff4242
