# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Catppuccin scheme byPocco81 (https://github.com/pocco81)

custom_background_color #1e1e28
custom_text_color #f5e0dc

page_separator_color #1e1e28
search_highlight_color #fae3b0
status_bar_color #1e1e28
status_bar_text_color #f5e0dc
ui_text_color #f5e0dc
ui_selected_text_color #f5e0dc
ui_background_color #1a1826
ui_selected_background_color #575268
background_color #1e1e28
visual_mark_color 0.34117648 0.32156864 0.40784314 0.2
text_highlight_color #575268
link_highlight_color #96cdfb
synctex_highlight_color #f28fad
