# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Equilibrium Light scheme byCarlo Abelli

custom_background_color #f5f0e7
custom_text_color #2c3138

page_separator_color #f5f0e7
search_highlight_color #9d6f00
status_bar_color #f5f0e7
status_bar_text_color #2c3138
ui_text_color #2c3138
ui_selected_text_color #2c3138
ui_background_color #e7e2d9
ui_selected_background_color #73777f
background_color #f5f0e7
visual_mark_color 0.4509804 0.46666667 0.49803922 0.2
text_highlight_color #73777f
link_highlight_color #0073b5
synctex_highlight_colour #d02023
