# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Bright scheme by Chris Kempson (http://chriskempson.com)

custom_background_color #000000
custom_text_color #f5f5f5

page_separator_color #000000
search_highlight_color #fda331
status_bar_color #000000
status_bar_text_color #f5f5f5
ui_text_color #f5f5f5
ui_selected_text_color #f5f5f5
ui_background_color #303030
ui_selected_background_color #b0b0b0
background_color #000000
visual_mark_color 0 0 0 0.2
text_highlight_color #b0b0b0
link_highlight_color #6fb3d2
synctex_highlight_color #fb0120
