# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Atelier Cave Light scheme byBram de Haan (http://atelierbramdehaan.nl)

custom_background_color #efecf4
custom_text_color #26232a

page_separator_color #efecf4
search_highlight_color #a06e3b
status_bar_color #efecf4
status_bar_text_color #26232a
ui_text_color #26232a
ui_selected_text_color #26232a
ui_background_color #e2dfe7
ui_selected_background_color #7e7887
background_color #efecf4
visual_mark_color #398bc6
text_highlight_color #7e7887
link_highlight_color #576ddb
synctex_highlight_colour #be4678
