# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Atelier Dune Light scheme byBram de Haan (http://atelierbramdehaan.nl)

custom_background_color #fefbec
custom_text_color #292824

page_separator_color #fefbec
search_highlight_color #ae9513
status_bar_color #fefbec
status_bar_text_color #292824
ui_text_color #292824
ui_selected_text_color #292824
ui_background_color #e8e4cf
ui_selected_background_color #999580
background_color #fefbec
visual_mark_color #1fad83
text_highlight_color #999580
link_highlight_color #6684e1
synctex_highlight_colour #d73737
