# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Marrakesh scheme byAlexandre Gavioli (http://github.com/Alexx2/)

custom_background_color #201602
custom_text_color #ccc37a

page_separator_color #201602
search_highlight_color #a88339
status_bar_color #201602
status_bar_text_color #ccc37a
ui_text_color #ccc37a
ui_selected_text_color #ccc37a
ui_background_color #302e00
ui_selected_background_color #6c6823
background_color #201602
visual_mark_color 0.42352942 0.40784314 0.13725491 0.2
text_highlight_color #6c6823
link_highlight_color #477ca1
synctex_highlight_colour #c35359
