# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Tokyo City Terminal Dark scheme byMichaël Ball

custom_background_color #171d23
custom_text_color #f6f6f8

page_separator_color #171d23
search_highlight_color #ebbf83
status_bar_color #171d23
status_bar_text_color #f6f6f8
ui_text_color #f6f6f8
ui_selected_text_color #f6f6f8
ui_background_color #1d252c
ui_selected_background_color #526270
background_color #171d23
visual_mark_color 0.32156864 0.38431373 0.4392157 0.2
text_highlight_color #526270
link_highlight_color #539afc
synctex_highlight_color #d95468
