# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Catppuccin Macchiato scheme by https://github.com/catppuccin/catppuccin

custom_background_color #24273a
custom_text_color #f4dbd6

page_separator_color #24273a
search_highlight_color #eed49f
status_bar_color #24273a
status_bar_text_color #f4dbd6
ui_text_color #f4dbd6
ui_selected_text_color #f4dbd6
ui_background_color #1e2030
ui_selected_background_color #494d64
background_color #24273a
visual_mark_color 0 0 0 0.2
text_highlight_color #494d64
link_highlight_color #8aadf4
synctex_highlight_color #ed8796
