# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# dirtysea scheme byKahlil (Kal) Hodgson

custom_background_color #e0e0e0
custom_text_color #f8f8f8

page_separator_color #e0e0e0
search_highlight_color #755b00
status_bar_color #e0e0e0
status_bar_text_color #f8f8f8
ui_text_color #f8f8f8
ui_selected_text_color #f8f8f8
ui_background_color #d0dad0
ui_selected_background_color #707070
background_color #e0e0e0
visual_mark_color #755b00
text_highlight_color #707070
link_highlight_color #007300
synctex_highlight_colour #840000
