# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Brush Trees scheme by Abraham White &lt;abelincoln.white@gmail.com&gt;

custom_background_color #e3efef
custom_text_color #5a6d7a

page_separator_color #e3efef
search_highlight_color #aab386
status_bar_color #e3efef
status_bar_text_color #5a6d7a
ui_text_color #5a6d7a
ui_selected_text_color #5a6d7a
ui_background_color #c9dbdc
ui_selected_background_color #98afb5
background_color #e3efef
visual_mark_color 0 0 0 0.2
text_highlight_color #98afb5
link_highlight_color #868cb3
synctex_highlight_color #b38686
