# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Dracula scheme by Jamy Golden (http://github.com/JamyGolden), based on Dracula Theme (http://github.com/dracula)

custom_background_color #282a36
custom_text_color #f0f1f4

page_separator_color #282a36
search_highlight_color #f1fa8c
status_bar_color #282a36
status_bar_text_color #f0f1f4
ui_text_color #f0f1f4
ui_selected_text_color #f0f1f4
ui_background_color #363447
ui_selected_background_color #6272a4
background_color #282a36
visual_mark_color 0.38431373 0.44705882 0.64313725 0.2
text_highlight_color #6272a4
link_highlight_color #80bfff
synctex_highlight_color #ff5555
