# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Atelier Cave scheme byBram de Haan (http://atelierbramdehaan.nl)

custom_background_color #19171c
custom_text_color #e2dfe7

page_separator_color #19171c
search_highlight_color #a06e3b
status_bar_color #19171c
status_bar_text_color #e2dfe7
ui_text_color #e2dfe7
ui_selected_text_color #e2dfe7
ui_background_color #26232a
ui_selected_background_color #655f6d
background_color #19171c
visual_mark_color 0.39607844 0.37254903 0.42745098 0.2
text_highlight_color #655f6d
link_highlight_color #576ddb
synctex_highlight_color #be4678
