# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Silk Light scheme byGabriel Fontes (https://github.com/Misterio77)

custom_background_color #e9f1ef
custom_text_color #0e3c46

page_separator_color #e9f1ef
search_highlight_color #cfad25
status_bar_color #e9f1ef
status_bar_text_color #0e3c46
ui_text_color #0e3c46
ui_selected_text_color #0e3c46
ui_background_color #ccd4d3
ui_selected_background_color #5c787b
background_color #e9f1ef
visual_mark_color #329ca2
text_highlight_color #5c787b
link_highlight_color #39aac9
synctex_highlight_colour #cf432e
