# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Windows High Contrast Light scheme byFergus Collins (https://github.com/C-Fergus)

custom_color_mode_empty_background_color #fcfcfc
custom_background_color #e8e8e8
custom_text_color #2a2a2a

page_separator_color #fcfcfc
search_highlight_color #808000
status_bar_color #fcfcfc
status_bar_text_color #2a2a2a
ui_text_color #2a2a2a
ui_selected_text_color #2a2a2a
ui_background_color #e8e8e8
ui_selected_background_color #c0c0c0
background_color #fcfcfc
visual_mark_color #008080
text_highlight_color #c0c0c0
link_highlight_color #000080
synctex_highlight_colour #800000
