# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Horizon Light scheme byMichaël Ball (http://github.com/michael-ball/)

custom_background_color #fdf0ed
custom_text_color #302c2d

page_separator_color #fdf0ed
search_highlight_color #fbe0d9
status_bar_color #fdf0ed
status_bar_text_color #302c2d
ui_text_color #302c2d
ui_selected_text_color #302c2d
ui_background_color #fadad1
ui_selected_background_color #bdb3b1
background_color #fdf0ed
visual_mark_color 0.7411765 0.7019608 0.69411767 0.2
text_highlight_color #bdb3b1
link_highlight_color #da103f
synctex_highlight_color #f7939b
