# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Windows NT Light scheme byFergus Collins (https://github.com/C-Fergus)

custom_background_color #ffffff
custom_text_color #404040

page_separator_color #ffffff
search_highlight_color #808000
status_bar_color #ffffff
status_bar_text_color #404040
ui_text_color #404040
ui_selected_text_color #404040
ui_background_color #eaeaea
ui_selected_background_color #c0c0c0
background_color #ffffff
visual_mark_color 0.7529412 0.7529412 0.7529412 0.2
text_highlight_color #c0c0c0
link_highlight_color #000080
synctex_highlight_colour #800000
