# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# 3024 scheme byJan T. Sott (http://github.com/idleberg)

custom_background_color #090300
custom_text_color #d6d5d4

page_separator_color #090300
search_highlight_color #fded02
status_bar_color #090300
status_bar_text_color #d6d5d4
ui_text_color #d6d5d4
ui_selected_text_color #d6d5d4
ui_background_color #3a3432
ui_selected_background_color #5c5855
background_color #090300
visual_mark_color 0.36078432 0.34509805 0.33333334 0.2
text_highlight_color #5c5855
link_highlight_color #01a0e4
synctex_highlight_colour #db2d20
