# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# selenized-black scheme by Jan Warchol (https://github.com/jan-warchol/selenized) / adapted to base16 by ali

custom_background_color #181818
custom_text_color #dedede

page_separator_color #181818
search_highlight_color #dbb32d
status_bar_color #181818
status_bar_text_color #dedede
ui_text_color #dedede
ui_selected_text_color #dedede
ui_background_color #252525
ui_selected_background_color #777777
background_color #181818
visual_mark_color 0.46666667 0.46666667 0.46666667 0.2
text_highlight_color #777777
link_highlight_color #368aeb
synctex_highlight_color #ed4a46
