# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Atelier Forest Light scheme byBram de Haan (http://atelierbramdehaan.nl)

custom_background_color #f1efee
custom_text_color #2c2421

page_separator_color #f1efee
search_highlight_color #c38418
status_bar_color #f1efee
status_bar_text_color #2c2421
ui_text_color #2c2421
ui_selected_text_color #2c2421
ui_background_color #e6e2e0
ui_selected_background_color #9c9491
background_color #f1efee
visual_mark_color 0.6117647 0.5803922 0.5686275 0.2
text_highlight_color #9c9491
link_highlight_color #407ee7
synctex_highlight_colour #f22c40
