# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# DanQing Light scheme byWenhan Zhu (Cosmos) (zhuwenhan950913@gmail.com)

custom_background_color #fcfefd
custom_text_color #434846

page_separator_color #fcfefd
search_highlight_color #f0c239
status_bar_color #fcfefd
status_bar_text_color #434846
ui_text_color #434846
ui_selected_text_color #434846
ui_background_color #ecf6f2
ui_selected_background_color #cad8d2
background_color #fcfefd
visual_mark_color 0.7921569 0.84705883 0.8235294 0.2
text_highlight_color #cad8d2
link_highlight_color #b0a4e3
synctex_highlight_color #f9906f
