# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Precious Dark Fifteen scheme by4lex4 &lt;4lex49@zoho.com&gt;

custom_background_color #23262b
custom_text_color #bab9b6

page_separator_color #23262b
search_highlight_color #cfa546
status_bar_color #23262b
status_bar_text_color #bab9b6
ui_text_color #bab9b6
ui_selected_text_color #bab9b6
ui_background_color #303337
ui_selected_background_color #898989
background_color #23262b
visual_mark_color 0.5372549 0.5372549 0.5372549 0.2
text_highlight_color #898989
link_highlight_color #66b0ef
synctex_highlight_color #ff8782
