# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Equilibrium Gray Dark scheme by Carlo Abelli

custom_background_color #111111
custom_text_color #c6c6c6

page_separator_color #111111
search_highlight_color #bb8801
status_bar_color #111111
status_bar_text_color #c6c6c6
ui_text_color #c6c6c6
ui_selected_text_color #c6c6c6
ui_background_color #1b1b1b
ui_selected_background_color #777777
background_color #111111
visual_mark_color 0.46666667 0.46666667 0.46666667 0.2
text_highlight_color #777777
link_highlight_color #008dd1
synctex_highlight_color #f04339
