# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# summercamp scheme by zoe firi (zoefiri.github.io)

custom_background_color #1c1810
custom_text_color #bab696

page_separator_color #1c1810
search_highlight_color #f2ff27
status_bar_color #1c1810
status_bar_text_color #bab696
ui_text_color #bab696
ui_selected_text_color #bab696
ui_background_color #2a261c
ui_selected_background_color #504b38
background_color #1c1810
visual_mark_color 0.31372549 0.29411765 0.21960784 0.2
text_highlight_color #504b38
link_highlight_color #489bf0
synctex_highlight_color #e35142
