# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Pasque scheme byGabriel Fontes (https://github.com/Misterio77)

custom_background_color #271c3a
custom_text_color #edeaef

page_separator_color #271c3a
search_highlight_color #804ead
status_bar_color #271c3a
status_bar_text_color #edeaef
ui_text_color #edeaef
ui_selected_text_color #edeaef
ui_background_color #100323
ui_selected_background_color #5d5766
background_color #271c3a
visual_mark_color 0.3647059 0.34117648 0.4 0.2
text_highlight_color #5d5766
link_highlight_color #8e7dc6
synctex_highlight_colour #a92258
