# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Porple scheme by Niek den Breeje (https://github.com/AuditeMarlow)

custom_background_color #292c36
custom_text_color #e8e8e8

page_separator_color #292c36
search_highlight_color #efa16b
status_bar_color #292c36
status_bar_text_color #e8e8e8
ui_text_color #e8e8e8
ui_selected_text_color #e8e8e8
ui_background_color #333344
ui_selected_background_color #65568a
background_color #292c36
visual_mark_color 0 0 0 0.2
text_highlight_color #65568a
link_highlight_color #8485ce
synctex_highlight_color #f84547
