# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# summercamp scheme byzoe firi (zoefiri.github.io)

custom_color_mode_empty_background_color #1c1810
custom_background_color #2a261c
custom_text_color #bab696

page_separator_color #1c1810
search_highlight_color #f2ff27
status_bar_color #1c1810
status_bar_text_color #bab696
ui_text_color #bab696
ui_selected_text_color #bab696
ui_background_color #2a261c
ui_selected_background_color #504b38
background_color #1c1810
visual_mark_color #5aebbc
text_highlight_color #504b38
link_highlight_color #489bf0
synctex_highlight_colour #e35142
