# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Measured Light scheme byMeasured (https://measured.co)

custom_background_color #fdf9f5
custom_text_color #181818

page_separator_color #fdf9f5
search_highlight_color #645a00
status_bar_color #fdf9f5
status_bar_text_color #181818
ui_text_color #181818
ui_selected_text_color #181818
ui_background_color #f9f5f1
ui_selected_background_color #5a5a5a
background_color #fdf9f5
visual_mark_color 0.3529412 0.3529412 0.3529412 0.2
text_highlight_color #5a5a5a
link_highlight_color #0158ad
synctex_highlight_color #ac1f35
