# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Atelier Estuary Light scheme by Bram de Haan (http://atelierbramdehaan.nl)

custom_background_color #f4f3ec
custom_text_color #302f27

page_separator_color #f4f3ec
search_highlight_color #a5980d
status_bar_color #f4f3ec
status_bar_text_color #302f27
ui_text_color #302f27
ui_selected_text_color #302f27
ui_background_color #e7e6df
ui_selected_background_color #878573
background_color #f4f3ec
visual_mark_color 0 0 0 0.2
text_highlight_color #878573
link_highlight_color #36a166
synctex_highlight_color #ba6236
