# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Rosé Pine scheme byEmilia Dunfelt &lt;sayhi@dunfelt.se&gt;

custom_background_color #191724
custom_text_color #f0f0f3

page_separator_color #191724
search_highlight_color #f6c177
status_bar_color #191724
status_bar_text_color #f0f0f3
ui_text_color #f0f0f3
ui_selected_text_color #f0f0f3
ui_background_color #1f1d2e
ui_selected_background_color #555169
background_color #191724
visual_mark_color #31748f
text_highlight_color #555169
link_highlight_color #9ccfd8
synctex_highlight_colour #e2e1e7
