# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# caroline scheme byed (https://codeberg.org/ed)

custom_background_color #1c1213
custom_text_color #c58d7b

page_separator_color #1c1213
search_highlight_color #f28171
status_bar_color #1c1213
status_bar_text_color #c58d7b
ui_text_color #c58d7b
ui_selected_text_color #c58d7b
ui_background_color #3a2425
ui_selected_background_color #6d4745
background_color #1c1213
visual_mark_color 0.42745098 0.2784314 0.27058825 0.2
text_highlight_color #6d4745
link_highlight_color #684c59
synctex_highlight_color #c24f57
