# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Sandcastle scheme byGeorge Essig (https://github.com/gessig)

custom_background_color #282c34
custom_text_color #d5c4a1

page_separator_color #282c34
search_highlight_color #a07e3b
status_bar_color #282c34
status_bar_text_color #d5c4a1
ui_text_color #d5c4a1
ui_selected_text_color #d5c4a1
ui_background_color #2c323b
ui_selected_background_color #665c54
background_color #282c34
visual_mark_color 0.4 0.36078432 0.32941177 0.2
text_highlight_color #665c54
link_highlight_color #83a598
synctex_highlight_colour #83a598
