# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Da One Gray scheme by NNB (https://github.com/NNBnh)

custom_background_color #181818
custom_text_color #ffffff

page_separator_color #181818
search_highlight_color #ff9470
status_bar_color #181818
status_bar_text_color #ffffff
ui_text_color #ffffff
ui_selected_text_color #ffffff
ui_background_color #282828
ui_selected_background_color #888888
background_color #181818
visual_mark_color 0.53333333 0.53333333 0.53333333 0.2
text_highlight_color #888888
link_highlight_color #6bb8ff
synctex_highlight_color #fa7883
