# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# vice scheme byThomas Leon Highbaugh thighbaugh@zoho.com

custom_background_color #17191e
custom_text_color #b2bfd9

page_separator_color #17191e
search_highlight_color #f0ffaa
status_bar_color #17191e
status_bar_text_color #b2bfd9
ui_text_color #b2bfd9
ui_selected_text_color #b2bfd9
ui_background_color #22262d
ui_selected_background_color #383a47
background_color #17191e
visual_mark_color #8265ff
text_highlight_color #383a47
link_highlight_color #00eaff
synctex_highlight_colour #ff29a8
