# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Horizon Terminal Dark scheme byMichaël Ball (http://github.com/michael-ball/)

custom_color_mode_empty_background_color #1c1e26
custom_background_color #232530
custom_text_color #dcdfe4

page_separator_color #1c1e26
search_highlight_color #fac29a
status_bar_color #1c1e26
status_bar_text_color #dcdfe4
ui_text_color #dcdfe4
ui_selected_text_color #dcdfe4
ui_background_color #232530
ui_selected_background_color #6f6f70
background_color #1c1e26
visual_mark_color #59e1e3
text_highlight_color #6f6f70
link_highlight_color #26bbd9
synctex_highlight_colour #e95678
