# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Deep Oceanic Next scheme by spearkkk (https://github.com/spearkkk/deep-oceanic-next)

custom_background_color #003b46
custom_text_color #e6ebf0

page_separator_color #003b46
search_highlight_color #ffcc66
status_bar_color #003b46
status_bar_text_color #e6ebf0
ui_text_color #e6ebf0
ui_selected_text_color #e6ebf0
ui_background_color #004f5e
ui_selected_background_color #007a8a
background_color #003b46
visual_mark_color 0.00000000 0.47843137 0.54117647 0.2
text_highlight_color #007a8a
link_highlight_color #3a82e6
synctex_highlight_color #e6454b
