# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Decaf scheme byAlex Mirrington (https://github.com/alexmirrington)

custom_background_color #2d2d2d
custom_text_color #e0e0e0

page_separator_color #2d2d2d
search_highlight_color #ffd67c
status_bar_color #2d2d2d
status_bar_text_color #e0e0e0
ui_text_color #e0e0e0
ui_selected_text_color #e0e0e0
ui_background_color #393939
ui_selected_background_color #777777
background_color #2d2d2d
visual_mark_color #bed6ff
text_highlight_color #777777
link_highlight_color #90bee1
synctex_highlight_colour #ff7f7b
