# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Kimber scheme byMishka Nguyen (https://github.com/akhsiM)

custom_color_mode_empty_background_color #222222
custom_background_color #313131
custom_text_color #c3c3b4

page_separator_color #222222
search_highlight_color #d8b56d
status_bar_color #222222
status_bar_text_color #c3c3b4
ui_text_color #c3c3b4
ui_selected_text_color #c3c3b4
ui_background_color #313131
ui_selected_background_color #644646
background_color #222222
visual_mark_color #78b4b4
text_highlight_color #644646
link_highlight_color #537c9c
synctex_highlight_colour #c88c8c
