# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Apathy scheme byJannik Siebert (https://github.com/janniks)

custom_background_color #031a16
custom_text_color #a7cec8

page_separator_color #031a16
search_highlight_color #3e4c96
status_bar_color #031a16
status_bar_text_color #a7cec8
ui_text_color #a7cec8
ui_selected_text_color #a7cec8
ui_background_color #0b342d
ui_selected_background_color #2b685e
background_color #031a16
visual_mark_color 0.16862746 0.40784314 0.36862746 0.2
text_highlight_color #2b685e
link_highlight_color #96883e
synctex_highlight_colour #3e9688
