# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Atelier Estuary scheme by Bram de Haan (http://atelierbramdehaan.nl)

custom_background_color #22221b
custom_text_color #e7e6df

page_separator_color #22221b
search_highlight_color #a5980d
status_bar_color #22221b
status_bar_text_color #e7e6df
ui_text_color #e7e6df
ui_selected_text_color #e7e6df
ui_background_color #302f27
ui_selected_background_color #6c6b5a
background_color #22221b
visual_mark_color 0 0 0 0.2
text_highlight_color #6c6b5a
link_highlight_color #36a166
synctex_highlight_color #ba6236
