# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Classic Dark scheme byJason Heeris (http://heeris.id.au)

custom_background_color #151515
custom_text_color #e0e0e0

page_separator_color #151515
search_highlight_color #f4bf75
status_bar_color #151515
status_bar_text_color #e0e0e0
ui_text_color #e0e0e0
ui_selected_text_color #e0e0e0
ui_background_color #202020
ui_selected_background_color #505050
background_color #151515
visual_mark_color 0.3137255 0.3137255 0.3137255 0.2
text_highlight_color #505050
link_highlight_color #6a9fb5
synctex_highlight_color #ac4142
