# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Tokyo Night Terminal Dark scheme by Michaël Ball

custom_background_color #16161e
custom_text_color #cbccd1

page_separator_color #16161e
search_highlight_color #e0af68
status_bar_color #16161e
status_bar_text_color #cbccd1
ui_text_color #cbccd1
ui_selected_text_color #cbccd1
ui_background_color #1a1b26
ui_selected_background_color #444b6a
background_color #16161e
visual_mark_color 0 0 0 0.2
text_highlight_color #444b6a
link_highlight_color #7aa2f7
synctex_highlight_color #f7768e
