# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Embers scheme byJannik Siebert (https://github.com/janniks)

custom_background_color #16130f
custom_text_color #beb6ae

page_separator_color #16130f
search_highlight_color #6d8257
status_bar_color #16130f
status_bar_text_color #beb6ae
ui_text_color #beb6ae
ui_selected_text_color #beb6ae
ui_background_color #2c2620
ui_selected_background_color #5a5047
background_color #16130f
visual_mark_color 0.3529412 0.3137255 0.2784314 0.2
text_highlight_color #5a5047
link_highlight_color #6d5782
synctex_highlight_colour #826d57
