# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Silk Dark scheme by Gabriel Fontes (https://github.com/Misterio77)

custom_background_color #0e3c46
custom_text_color #cbf2f7

page_separator_color #0e3c46
search_highlight_color #fce380
status_bar_color #0e3c46
status_bar_text_color #cbf2f7
ui_text_color #cbf2f7
ui_selected_text_color #cbf2f7
ui_background_color #1d494e
ui_selected_background_color #587073
background_color #0e3c46
visual_mark_color 0.34509804 0.43921569 0.45098039 0.2
text_highlight_color #587073
link_highlight_color #46bddd
synctex_highlight_color #fb6953
