# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Material Darker scheme byNate Peterson

custom_background_color #212121
custom_text_color #eeffff

page_separator_color #212121
search_highlight_color #ffcb6b
status_bar_color #212121
status_bar_text_color #eeffff
ui_text_color #eeffff
ui_selected_text_color #eeffff
ui_background_color #303030
ui_selected_background_color #4a4a4a
background_color #212121
visual_mark_color #89ddff
text_highlight_color #4a4a4a
link_highlight_color #82aaff
synctex_highlight_colour #f07178
