# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Eva scheme bykjakapat (https://github.com/kjakapat)

custom_background_color #2a3b4d
custom_text_color #d6d7d9

page_separator_color #2a3b4d
search_highlight_color #ffff66
status_bar_color #2a3b4d
status_bar_text_color #d6d7d9
ui_text_color #d6d7d9
ui_selected_text_color #d6d7d9
ui_background_color #3d566f
ui_selected_background_color #55799c
background_color #2a3b4d
visual_mark_color 0.33333334 0.4745098 0.6117647 0.2
text_highlight_color #55799c
link_highlight_color #15f4ee
synctex_highlight_color #c4676c
