# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Colors scheme bymrmrs (http://clrs.cc)

custom_background_color #111111
custom_text_color #dddddd

page_separator_color #111111
search_highlight_color #ffdc00
status_bar_color #111111
status_bar_text_color #dddddd
ui_text_color #dddddd
ui_selected_text_color #dddddd
ui_background_color #333333
ui_selected_background_color #777777
background_color #111111
visual_mark_color 0.46666667 0.46666667 0.46666667 0.2
text_highlight_color #777777
link_highlight_color #0074d9
synctex_highlight_colour #ff4136
