# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Gruvbox dark, pale scheme byDawid Kurek (dawikur@gmail.com), morhetz (https://github.com/morhetz/gruvbox)

custom_background_color #262626
custom_text_color #d5c4a1

page_separator_color #262626
search_highlight_color #ffaf00
status_bar_color #262626
status_bar_text_color #d5c4a1
ui_text_color #d5c4a1
ui_selected_text_color #d5c4a1
ui_background_color #3a3a3a
ui_selected_background_color #8a8a8a
background_color #262626
visual_mark_color 0.5411765 0.5411765 0.5411765 0.2
text_highlight_color #8a8a8a
link_highlight_color #83adad
synctex_highlight_color #d75f5f
