# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# London Tube scheme byJan T. Sott

custom_background_color #231f20
custom_text_color #e7e7e8

page_separator_color #231f20
search_highlight_color #ffd204
status_bar_color #231f20
status_bar_text_color #e7e7e8
ui_text_color #e7e7e8
ui_selected_text_color #e7e7e8
ui_background_color #1c3f95
ui_selected_background_color #737171
background_color #231f20
visual_mark_color 0.4509804 0.44313726 0.44313726 0.2
text_highlight_color #737171
link_highlight_color #009ddc
synctex_highlight_color #ee2e24
