# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Everforest scheme by Sainnhe Park (https://github.com/sainnhe)

custom_background_color #2d353b
custom_text_color #e6e2cc

page_separator_color #2d353b
search_highlight_color #dbbc7f
status_bar_color #2d353b
status_bar_text_color #e6e2cc
ui_text_color #e6e2cc
ui_selected_text_color #e6e2cc
ui_background_color #343f44
ui_selected_background_color #859289
background_color #2d353b
visual_mark_color 0 0 0 0.2
text_highlight_color #859289
link_highlight_color #7fbbb3
synctex_highlight_color #e67e80
