# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# selenized-light scheme byJan Warchol (https://github.com/jan-warchol/selenized) / adapted to base16 by ali

custom_background_color #fbf3db
custom_text_color #3a4d53

page_separator_color #fbf3db
search_highlight_color #a78300
status_bar_color #fbf3db
status_bar_text_color #3a4d53
ui_text_color #3a4d53
ui_selected_text_color #3a4d53
ui_background_color #ece3cc
ui_selected_background_color #909995
background_color #fbf3db
visual_mark_color 0.5647059 0.6 0.58431375 0.2
text_highlight_color #909995
link_highlight_color #006dce
synctex_highlight_colour #cc1729
