# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Sparky scheme by Leila Sother (https://github.com/mixcoac)

custom_background_color #072b31
custom_text_color #f5f5f1

page_separator_color #072b31
search_highlight_color #fbdd40
status_bar_color #072b31
status_bar_text_color #f5f5f1
ui_text_color #f5f5f1
ui_selected_text_color #f5f5f1
ui_background_color #00313c
ui_selected_background_color #003b49
background_color #072b31
visual_mark_color 0.00000000 0.23137255 0.28627451 0.2
text_highlight_color #003b49
link_highlight_color #4698cb
synctex_highlight_color #ff585d
