# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Solar Flare scheme byChuck Harmston (https://chuck.harmston.ch)

custom_background_color #18262f
custom_text_color #e8e9ed

page_separator_color #18262f
search_highlight_color #e4b51c
status_bar_color #18262f
status_bar_text_color #e8e9ed
ui_text_color #e8e9ed
ui_selected_text_color #e8e9ed
ui_background_color #222e38
ui_selected_background_color #667581
background_color #18262f
visual_mark_color 0.4 0.45882353 0.5058824 0.2
text_highlight_color #667581
link_highlight_color #33b5e1
synctex_highlight_color #ef5253
