# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Terracotta scheme by Alexander Rossell Hayes (https://github.com/rossellhayes)

custom_background_color #efeae8
custom_text_color #352a25

page_separator_color #efeae8
search_highlight_color #ce943e
status_bar_color #efeae8
status_bar_text_color #352a25
ui_text_color #352a25
ui_selected_text_color #352a25
ui_background_color #dfd6d1
ui_selected_background_color #c0aca4
background_color #efeae8
visual_mark_color 0.75294118 0.67450980 0.64313725 0.2
text_highlight_color #c0aca4
link_highlight_color #625574
synctex_highlight_color #a75045
