# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Atelier Seaside Light scheme by Bram de Haan (http://atelierbramdehaan.nl)

custom_background_color #f4fbf4
custom_text_color #242924

page_separator_color #f4fbf4
search_highlight_color #98981b
status_bar_color #f4fbf4
status_bar_text_color #242924
ui_text_color #242924
ui_selected_text_color #242924
ui_background_color #cfe8cf
ui_selected_background_color #809980
background_color #f4fbf4
visual_mark_color 0 0 0 0.2
text_highlight_color #809980
link_highlight_color #3d62f5
synctex_highlight_color #e6193c
