# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Shapeshifter scheme byTyler Benziger (http://tybenz.com)

custom_color_mode_empty_background_color #f9f9f9
custom_background_color #e0e0e0
custom_text_color #040404

page_separator_color #f9f9f9
search_highlight_color #dddd13
status_bar_color #f9f9f9
status_bar_text_color #040404
ui_text_color #040404
ui_selected_text_color #040404
ui_background_color #e0e0e0
ui_selected_background_color #555555
background_color #f9f9f9
visual_mark_color #23edda
text_highlight_color #555555
link_highlight_color #3b48e3
synctex_highlight_colour #e92f2f
