# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Jabuti scheme byhttps://github.com/notusknot

custom_background_color #292a37
custom_text_color #d9e0ee

page_separator_color #292a37
search_highlight_color #e1c697
status_bar_color #292a37
status_bar_text_color #d9e0ee
ui_text_color #d9e0ee
ui_selected_text_color #d9e0ee
ui_background_color #343545
ui_selected_background_color #45475d
background_color #292a37
visual_mark_color 0.27058825 0.2784314 0.3647059 0.2
text_highlight_color #45475d
link_highlight_color #3fc6de
synctex_highlight_color #ec6a88
