# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Tokyo Night Moon scheme by Ólafur Bjarki Bogason

custom_background_color #222436
custom_text_color #828bb8

page_separator_color #222436
search_highlight_color #ffc777
status_bar_color #222436
status_bar_text_color #828bb8
ui_text_color #828bb8
ui_selected_text_color #828bb8
ui_background_color #1e2030
ui_selected_background_color #636da6
background_color #222436
visual_mark_color 0 0 0 0.2
text_highlight_color #636da6
link_highlight_color #82aaff
synctex_highlight_color #ff757f
