# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Precious Light Warm scheme by 4lex4 &lt;4lex49@zoho.com&gt;

custom_background_color #fff5e5
custom_text_color #4e5359

page_separator_color #fff5e5
search_highlight_color #876500
status_bar_color #fff5e5
status_bar_text_color #4e5359
ui_text_color #4e5359
ui_selected_text_color #4e5359
ui_background_color #ece4d6
ui_selected_background_color #7f8080
background_color #fff5e5
visual_mark_color 0.49803922 0.50196078 0.50196078 0.2
text_highlight_color #7f8080
link_highlight_color #246da5
synctex_highlight_color #b14745
