# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Gigavolt scheme byAidan Swope (http://github.com/Whillikers)

custom_background_color #202126
custom_text_color #eff0f9

page_separator_color #202126
search_highlight_color #ffdc2d
status_bar_color #202126
status_bar_text_color #eff0f9
ui_text_color #eff0f9
ui_selected_text_color #eff0f9
ui_background_color #2d303d
ui_selected_background_color #a1d2e6
background_color #202126
visual_mark_color #fb6acb
text_highlight_color #a1d2e6
link_highlight_color #40bfff
synctex_highlight_colour #ff661a
