# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# IR Black scheme byTimothée Poisot (http://timotheepoisot.fr)

custom_background_color #000000
custom_text_color #d9d7cc

page_separator_color #000000
search_highlight_color #ffffb6
status_bar_color #000000
status_bar_text_color #d9d7cc
ui_text_color #d9d7cc
ui_selected_text_color #d9d7cc
ui_background_color #242422
ui_selected_background_color #6c6c66
background_color #000000
visual_mark_color 0.42352942 0.42352942 0.4 0.2
text_highlight_color #6c6c66
link_highlight_color #96cbfe
synctex_highlight_colour #ff6c60
