# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Default Light scheme byChris Kempson (http://chriskempson.com)

custom_background_color #f8f8f8
custom_text_color #282828

page_separator_color #f8f8f8
search_highlight_color #f7ca88
status_bar_color #f8f8f8
status_bar_text_color #282828
ui_text_color #282828
ui_selected_text_color #282828
ui_background_color #e8e8e8
ui_selected_background_color #b8b8b8
background_color #f8f8f8
visual_mark_color 0.72156864 0.72156864 0.72156864 0.2
text_highlight_color #b8b8b8
link_highlight_color #7cafc2
synctex_highlight_color #ab4642
