# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Rosé Pine Dawn scheme by Emilia Dunfelt &lt;edun@dunfelt.se&gt;

custom_background_color #faf4ed
custom_text_color #575279

page_separator_color #faf4ed
search_highlight_color #d7827e
status_bar_color #faf4ed
status_bar_text_color #575279
ui_text_color #575279
ui_selected_text_color #575279
ui_background_color #fffaf3
ui_selected_background_color #9893a5
background_color #faf4ed
visual_mark_color 0 0 0 0.2
text_highlight_color #9893a5
link_highlight_color #907aa9
synctex_highlight_color #b4637a
