# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Github scheme byDefman21

custom_background_color #ffffff
custom_text_color #ffffff

page_separator_color #ffffff
search_highlight_color #795da3
status_bar_color #ffffff
status_bar_text_color #ffffff
ui_text_color #ffffff
ui_selected_text_color #ffffff
ui_background_color #f5f5f5
ui_selected_background_color #969896
background_color #ffffff
visual_mark_color 0.5882353 0.59607846 0.5882353 0.2
text_highlight_color #969896
link_highlight_color #795da3
synctex_highlight_colour #ed6a43
