# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Primer Dark scheme byJimmy Lin

custom_background_color #010409
custom_text_color #c9d1d9

page_separator_color #010409
search_highlight_color #d29922
status_bar_color #010409
status_bar_text_color #c9d1d9
ui_text_color #c9d1d9
ui_selected_text_color #c9d1d9
ui_background_color #21262d
ui_selected_background_color #484f58
background_color #010409
visual_mark_color 0.28235295 0.30980393 0.34509805 0.2
text_highlight_color #484f58
link_highlight_color #58a6ff
synctex_highlight_colour #ff7b72
