# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Stella scheme byShrimpram

custom_background_color #2b213c
custom_text_color #b4a5c8

page_separator_color #2b213c
search_highlight_color #c7c691
status_bar_color #2b213c
status_bar_text_color #b4a5c8
ui_text_color #b4a5c8
ui_selected_text_color #b4a5c8
ui_background_color #362b48
ui_selected_background_color #655978
background_color #2b213c
visual_mark_color 0.39607844 0.34901962 0.47058824 0.2
text_highlight_color #655978
link_highlight_color #a5aad4
synctex_highlight_colour #c79987
