# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Ayu Dark scheme by Khue Nguyen &lt;Z5483Y@gmail.com&gt;

custom_background_color #0f1419
custom_text_color #e6e1cf

page_separator_color #0f1419
search_highlight_color #ffb454
status_bar_color #0f1419
status_bar_text_color #e6e1cf
ui_text_color #e6e1cf
ui_selected_text_color #e6e1cf
ui_background_color #131721
ui_selected_background_color #3e4b59
background_color #0f1419
visual_mark_color 0.24313725 0.29411765 0.34901961 0.2
text_highlight_color #3e4b59
link_highlight_color #59c2ff
synctex_highlight_color #f07178
