# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Edge Dark scheme bycjayross (https://github.com/cjayross)

custom_background_color #262729
custom_text_color #d390e7

page_separator_color #262729
search_highlight_color #dbb774
status_bar_color #262729
status_bar_text_color #d390e7
ui_text_color #d390e7
ui_selected_text_color #d390e7
ui_background_color #88909f
ui_selected_background_color #3e4249
background_color #262729
visual_mark_color #5ebaa5
text_highlight_color #3e4249
link_highlight_color #73b3e7
synctex_highlight_colour #e77171
