# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# selenized-dark scheme by Jan Warchol (https://github.com/jan-warchol/selenized) / adapted to base16 by ali

custom_background_color #103c48
custom_text_color #cad8d9

page_separator_color #103c48
search_highlight_color #dbb32d
status_bar_color #103c48
status_bar_text_color #cad8d9
ui_text_color #cad8d9
ui_selected_text_color #cad8d9
ui_background_color #184956
ui_selected_background_color #72898f
background_color #103c48
visual_mark_color 0 0 0 0.2
text_highlight_color #72898f
link_highlight_color #4695f7
synctex_highlight_color #fa5750
