# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Brogrammer scheme byVik Ramanujam (http://github.com/piggyslasher)

custom_background_color #1f1f1f
custom_text_color #1081d6

page_separator_color #1f1f1f
search_highlight_color #1dd361
status_bar_color #1f1f1f
status_bar_text_color #1081d6
ui_text_color #1081d6
ui_selected_text_color #1081d6
ui_background_color #f81118
ui_selected_background_color #ecba0f
background_color #1f1f1f
visual_mark_color #1081d6
text_highlight_color #ecba0f
link_highlight_color #5350b9
synctex_highlight_colour #d6dbe5
