# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Green Screen scheme byChris Kempson (http://chriskempson.com)

custom_background_color #001100
custom_text_color #00dd00

page_separator_color #001100
search_highlight_color #007700
status_bar_color #001100
status_bar_text_color #00dd00
ui_text_color #00dd00
ui_selected_text_color #00dd00
ui_background_color #003300
ui_selected_background_color #007700
background_color #001100
visual_mark_color 0 0.46666667 0 0.2
text_highlight_color #007700
link_highlight_color #009900
synctex_highlight_color #007700
