# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Blue Forest scheme byalonsodomin (https://github.com/alonsodomin)

custom_color_mode_empty_background_color #141f2e
custom_background_color #1e5c1e
custom_text_color #91ccff

page_separator_color #141f2e
search_highlight_color #91ccff
status_bar_color #141f2e
status_bar_text_color #91ccff
ui_text_color #91ccff
ui_selected_text_color #91ccff
ui_background_color #1e5c1e
ui_selected_background_color #a0ffa0
background_color #141f2e
visual_mark_color #80ff80
text_highlight_color #a0ffa0
link_highlight_color #a2cff5
synctex_highlight_colour #fffab1
