# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Windows High Contrast scheme byFergus Collins (https://github.com/C-Fergus)

custom_background_color #000000
custom_text_color #dedede

page_separator_color #000000
search_highlight_color #fcfc54
status_bar_color #000000
status_bar_text_color #dedede
ui_text_color #dedede
ui_selected_text_color #dedede
ui_background_color #1c1c1c
ui_selected_background_color #545454
background_color #000000
visual_mark_color #54fcfc
text_highlight_color #545454
link_highlight_color #5454fc
synctex_highlight_colour #fc5454
