# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Cupcake scheme by Chris Kempson (http://chriskempson.com)

custom_background_color #fbf1f2
custom_text_color #72677e

page_separator_color #fbf1f2
search_highlight_color #dcb16c
status_bar_color #fbf1f2
status_bar_text_color #72677e
ui_text_color #72677e
ui_selected_text_color #72677e
ui_background_color #f2f1f4
ui_selected_background_color #bfb9c6
background_color #fbf1f2
visual_mark_color 0 0 0 0.2
text_highlight_color #bfb9c6
link_highlight_color #7297b9
synctex_highlight_color #d57e85
