# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# SAGA scheme by https://github.com/SAGAtheme/SAGA

custom_background_color #05080a
custom_text_color #f8eae7

page_separator_color #05080a
search_highlight_color #fbebc8
status_bar_color #05080a
status_bar_text_color #f8eae7
ui_text_color #f8eae7
ui_selected_text_color #f8eae7
ui_background_color #0a1014
ui_selected_background_color #141f27
background_color #05080a
visual_mark_color 0 0 0 0.2
text_highlight_color #141f27
link_highlight_color #c9fff7
synctex_highlight_color #ffd4e9
