# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Terracotta Dark scheme by Alexander Rossell Hayes (https://github.com/rossellhayes)

custom_background_color #241d1a
custom_text_color #cabbb5

page_separator_color #241d1a
search_highlight_color #ffc37a
status_bar_color #241d1a
status_bar_text_color #cabbb5
ui_text_color #cabbb5
ui_selected_text_color #cabbb5
ui_background_color #362b27
ui_selected_background_color #594740
background_color #241d1a
visual_mark_color 0 0 0 0.2
text_highlight_color #594740
link_highlight_color #b0a4c3
synctex_highlight_color #f6998f
