# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Eighties scheme by Chris Kempson (http://chriskempson.com)

custom_background_color #2d2d2d
custom_text_color #e8e6df

page_separator_color #2d2d2d
search_highlight_color #ffcc66
status_bar_color #2d2d2d
status_bar_text_color #e8e6df
ui_text_color #e8e6df
ui_selected_text_color #e8e6df
ui_background_color #393939
ui_selected_background_color #747369
background_color #2d2d2d
visual_mark_color 0 0 0 0.2
text_highlight_color #747369
link_highlight_color #6699cc
synctex_highlight_color #f2777a
