# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Material Vivid scheme byjoshyrobot

custom_background_color #202124
custom_text_color #9e9e9e

page_separator_color #202124
search_highlight_color #ffeb3b
status_bar_color #202124
status_bar_text_color #9e9e9e
ui_text_color #9e9e9e
ui_selected_text_color #9e9e9e
ui_background_color #27292c
ui_selected_background_color #44464d
background_color #202124
visual_mark_color 0.26666668 0.27450982 0.3019608 0.2
text_highlight_color #44464d
link_highlight_color #2196f3
synctex_highlight_color #f44336
