# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Atelier Seaside scheme byBram de Haan (http://atelierbramdehaan.nl)

custom_color_mode_empty_background_color #131513
custom_background_color #242924
custom_text_color #cfe8cf

page_separator_color #131513
search_highlight_color #98981b
status_bar_color #131513
status_bar_text_color #cfe8cf
ui_text_color #cfe8cf
ui_selected_text_color #cfe8cf
ui_background_color #242924
ui_selected_background_color #687d68
background_color #131513
visual_mark_color #1999b3
text_highlight_color #687d68
link_highlight_color #3d62f5
synctex_highlight_colour #e6193c
