# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Windows 95 Light scheme byFergus Collins (https://github.com/C-Fergus)

custom_background_color #fcfcfc
custom_text_color #2a2a2a

page_separator_color #fcfcfc
search_highlight_color #a85400
status_bar_color #fcfcfc
status_bar_text_color #2a2a2a
ui_text_color #2a2a2a
ui_selected_text_color #2a2a2a
ui_background_color #e0e0e0
ui_selected_background_color #a8a8a8
background_color #fcfcfc
visual_mark_color 0.65882355 0.65882355 0.65882355 0.2
text_highlight_color #a8a8a8
link_highlight_color #0000a8
synctex_highlight_colour #a80000
