# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Blueish scheme byBen Mayoras

custom_color_mode_empty_background_color #182430
custom_background_color #243c54
custom_text_color #ddeaf6

page_separator_color #182430
search_highlight_color #82aaff
status_bar_color #182430
status_bar_text_color #ddeaf6
ui_text_color #ddeaf6
ui_selected_text_color #ddeaf6
ui_background_color #243c54
ui_selected_background_color #616d78
background_color #182430
visual_mark_color #5fd1ff
text_highlight_color #616d78
link_highlight_color #82aaff
synctex_highlight_colour #4ce587
