# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Eighties scheme byChris Kempson (http://chriskempson.com)

custom_color_mode_empty_background_color #2d2d2d
custom_background_color #393939
custom_text_color #e8e6df

page_separator_color #2d2d2d
search_highlight_color #ffcc66
status_bar_color #2d2d2d
status_bar_text_color #e8e6df
ui_text_color #e8e6df
ui_selected_text_color #e8e6df
ui_background_color #393939
ui_selected_background_color #747369
background_color #2d2d2d
visual_mark_color #66cccc
text_highlight_color #747369
link_highlight_color #6699cc
synctex_highlight_colour #f2777a
