# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Railscasts scheme byRyan Bates (http://railscasts.com)

custom_color_mode_empty_background_color #2b2b2b
custom_background_color #272935
custom_text_color #f4f1ed

page_separator_color #2b2b2b
search_highlight_color #ffc66d
status_bar_color #2b2b2b
status_bar_text_color #f4f1ed
ui_text_color #f4f1ed
ui_selected_text_color #f4f1ed
ui_background_color #272935
ui_selected_background_color #5a647e
background_color #2b2b2b
visual_mark_color #519f50
text_highlight_color #5a647e
link_highlight_color #6d9cbe
synctex_highlight_colour #da4939
