# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Framer scheme by Framer (Maintained by Jesse Hoyos)

custom_background_color #181818
custom_text_color #e8e8e8

page_separator_color #181818
search_highlight_color #fecb6e
status_bar_color #181818
status_bar_text_color #e8e8e8
ui_text_color #e8e8e8
ui_selected_text_color #e8e8e8
ui_background_color #151515
ui_selected_background_color #747474
background_color #181818
visual_mark_color 0.45490196 0.45490196 0.45490196 0.2
text_highlight_color #747474
link_highlight_color #20bcfc
synctex_highlight_color #fd886b
