# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# ShadeSmear Light scheme byKyle Giammarco (http://kyle.giammar.co)

custom_background_color #dbdbdb
custom_text_color #1c1c1c

page_separator_color #dbdbdb
search_highlight_color #307878
status_bar_color #dbdbdb
status_bar_text_color #1c1c1c
ui_text_color #1c1c1c
ui_selected_text_color #1c1c1c
ui_background_color #e4e4e4
ui_selected_background_color #4e4e4e
background_color #dbdbdb
visual_mark_color 0.30588236 0.30588236 0.30588236 0.2
text_highlight_color #4e4e4e
link_highlight_color #376388
synctex_highlight_color #cc5450
