# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# iA Light scheme byiA Inc. (modified by aramisgithub)

custom_background_color #f6f6f6
custom_text_color #e8e8e8

page_separator_color #f6f6f6
search_highlight_color #c48218
status_bar_color #f6f6f6
status_bar_text_color #e8e8e8
ui_text_color #e8e8e8
ui_selected_text_color #e8e8e8
ui_background_color #dedede
ui_selected_background_color #898989
background_color #f6f6f6
visual_mark_color 0.5372549 0.5372549 0.5372549 0.2
text_highlight_color #898989
link_highlight_color #48bac2
synctex_highlight_colour #9c5a02
