# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Edge Light scheme by cjayross (https://github.com/cjayross)

custom_background_color #fafafa
custom_text_color #b870ce

page_separator_color #fafafa
search_highlight_color #d69822
status_bar_color #fafafa
status_bar_text_color #b870ce
ui_text_color #b870ce
ui_selected_text_color #b870ce
ui_background_color #7c9f4b
ui_selected_background_color #5e646f
background_color #fafafa
visual_mark_color 0 0 0 0.2
text_highlight_color #5e646f
link_highlight_color #6587bf
synctex_highlight_color #db7070
