# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Solar Flare Light scheme by Chuck Harmston (https://chuck.harmston.ch)

custom_background_color #f5f7fa
custom_text_color #222e38

page_separator_color #f5f7fa
search_highlight_color #e4b51c
status_bar_color #f5f7fa
status_bar_text_color #222e38
ui_text_color #222e38
ui_selected_text_color #222e38
ui_background_color #e8e9ed
ui_selected_background_color #85939e
background_color #f5f7fa
visual_mark_color 0.52156863 0.57647059 0.61960784 0.2
text_highlight_color #85939e
link_highlight_color #33b5e1
synctex_highlight_color #ef5253
