# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Material Lighter scheme by Nate Peterson

custom_background_color #fafafa
custom_text_color #80cbc4

page_separator_color #fafafa
search_highlight_color #ffb62c
status_bar_color #fafafa
status_bar_text_color #80cbc4
ui_text_color #80cbc4
ui_selected_text_color #80cbc4
ui_background_color #e7eaec
ui_selected_background_color #ccd7da
background_color #fafafa
visual_mark_color 0.80000000 0.84313725 0.85490196 0.2
text_highlight_color #ccd7da
link_highlight_color #6182b8
synctex_highlight_color #ff5370
