# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Rosé Pine Moon scheme byEmilia Dunfelt &lt;edun@dunfelt.se&gt;

custom_background_color #232136
custom_text_color #e0def4

page_separator_color #232136
search_highlight_color #ea9a97
status_bar_color #232136
status_bar_text_color #e0def4
ui_text_color #e0def4
ui_selected_text_color #e0def4
ui_background_color #2a273f
ui_selected_background_color #6e6a86
background_color #232136
visual_mark_color 0.43137255 0.41568628 0.5254902 0.2
text_highlight_color #6e6a86
link_highlight_color #c4a7e7
synctex_highlight_color #eb6f92
