# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# PaperColor Light scheme by Jon Leopard (http://github.com/jonleopard)
based on PaperColor Theme (https://github.com/NLKNguyen/papercolor-theme)


custom_background_color #eeeeee
custom_text_color #005f87

page_separator_color #eeeeee
search_highlight_color #d70087
status_bar_color #eeeeee
status_bar_text_color #005f87
ui_text_color #005f87
ui_selected_text_color #005f87
ui_background_color #af0000
ui_selected_background_color #5f8700
background_color #eeeeee
visual_mark_color 0.37254902 0.52941176 0.00000000 0.2
text_highlight_color #5f8700
link_highlight_color #d75f00
synctex_highlight_color #bcbcbc
