# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Black Metal (Venom) scheme by metalelf0 (https://github.com/metalelf0)

custom_background_color #000000
custom_text_color #999999

page_separator_color #000000
search_highlight_color #79241f
status_bar_color #000000
status_bar_text_color #999999
ui_text_color #999999
ui_selected_text_color #999999
ui_background_color #121212
ui_selected_background_color #333333
background_color #000000
visual_mark_color 0 0 0 0.2
text_highlight_color #333333
link_highlight_color #888888
synctex_highlight_color #5f8787
