# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Aztec scheme by TheNeverMan (github.com/TheNeverMan)

custom_background_color #101600
custom_text_color #ffe178

page_separator_color #101600
search_highlight_color #eebb00
status_bar_color #101600
status_bar_text_color #ffe178
ui_text_color #ffe178
ui_selected_text_color #ffe178
ui_background_color #1a1e01
ui_selected_background_color #2e2e05
background_color #101600
visual_mark_color 0 0 0 0.2
text_highlight_color #2e2e05
link_highlight_color #5b4a9f
synctex_highlight_color #ee2e00
