# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Humanoid light scheme byThomas (tasmo) Friese

custom_color_mode_empty_background_color #f8f8f2
custom_background_color #efefe9
custom_text_color #2f3337

page_separator_color #f8f8f2
search_highlight_color #ffb627
status_bar_color #f8f8f2
status_bar_text_color #2f3337
ui_text_color #2f3337
ui_selected_text_color #2f3337
ui_background_color #efefe9
ui_selected_background_color #c0c0bd
background_color #f8f8f2
visual_mark_color #008e8e
text_highlight_color #c0c0bd
link_highlight_color #0082c9
synctex_highlight_colour #b0151a
