# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Unikitty Dark scheme byJosh W Lewis (@joshwlewis)

custom_background_color #2e2a31
custom_text_color #d8d7da

page_separator_color #2e2a31
search_highlight_color #dc8a0e
status_bar_color #2e2a31
status_bar_text_color #d8d7da
ui_text_color #d8d7da
ui_selected_text_color #d8d7da
ui_background_color #4a464d
ui_selected_background_color #838085
background_color #2e2a31
visual_mark_color 0.5137255 0.5019608 0.52156866 0.2
text_highlight_color #838085
link_highlight_color #796af5
synctex_highlight_color #d8137f
