# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Embers Light scheme by Jannik Siebert (https://github.com/janniks)

custom_background_color #d1d6db
custom_text_color #20262c

page_separator_color #d1d6db
search_highlight_color #57826d
status_bar_color #d1d6db
status_bar_text_color #20262c
ui_text_color #20262c
ui_selected_text_color #20262c
ui_background_color #aeb6be
ui_selected_background_color #75808a
background_color #d1d6db
visual_mark_color 0.45882353 0.50196078 0.54117647 0.2
text_highlight_color #75808a
link_highlight_color #82576d
synctex_highlight_color #576d82
