# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Gruvbox dark, hard scheme byDawid Kurek (dawikur@gmail.com), morhetz (https://github.com/morhetz/gruvbox)

custom_background_color #1d2021
custom_text_color #ebdbb2

page_separator_color #1d2021
search_highlight_color #fabd2f
status_bar_color #1d2021
status_bar_text_color #ebdbb2
ui_text_color #ebdbb2
ui_selected_text_color #ebdbb2
ui_background_color #3c3836
ui_selected_background_color #665c54
background_color #1d2021
visual_mark_color 0.4 0.36078432 0.32941177 0.2
text_highlight_color #665c54
link_highlight_color #83a598
synctex_highlight_colour #fb4934
