# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Ayu Mirage scheme byKhue Nguyen &lt;Z5483Y@gmail.com&gt;

custom_background_color #171b24
custom_text_color #d9d7ce

page_separator_color #171b24
search_highlight_color #ffd173
status_bar_color #171b24
status_bar_text_color #d9d7ce
ui_text_color #d9d7ce
ui_selected_text_color #d9d7ce
ui_background_color #1f2430
ui_selected_background_color #707a8c
background_color #171b24
visual_mark_color 0.4392157 0.47843137 0.54901963 0.2
text_highlight_color #707a8c
link_highlight_color #5ccfe6
synctex_highlight_colour #f28779
