# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Espresso scheme byUnknown. Maintained by Alex Mirrington (https://github.com/alexmirrington)

custom_color_mode_empty_background_color #2d2d2d
custom_background_color #393939
custom_text_color #e0e0e0

page_separator_color #2d2d2d
search_highlight_color #ffc66d
status_bar_color #2d2d2d
status_bar_text_color #e0e0e0
ui_text_color #e0e0e0
ui_selected_text_color #e0e0e0
ui_background_color #393939
ui_selected_background_color #777777
background_color #2d2d2d
visual_mark_color #bed6ff
text_highlight_color #777777
link_highlight_color #6c99bb
synctex_highlight_colour #d25252
