# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Tokyodark scheme by Jamy Golden (https://github.com/JamyGolden), Based on Tokyodark.nvim (https://github.com/tiagovla/tokyodark.nvim)

custom_background_color #11121d
custom_text_color #abb2bf

page_separator_color #11121d
search_highlight_color #d7a65f
status_bar_color #11121d
status_bar_text_color #abb2bf
ui_text_color #abb2bf
ui_selected_text_color #abb2bf
ui_background_color #212234
ui_selected_background_color #353945
background_color #11121d
visual_mark_color 0.20784314 0.22352941 0.27058824 0.2
text_highlight_color #353945
link_highlight_color #7199ee
synctex_highlight_color #ee6d85
