# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Gruvbox Material Dark, Medium scheme byMayush Kumar (https://github.com/MayushKumar), sainnhe (https://github.com/sainnhe/gruvbox-material-vscode)

custom_color_mode_empty_background_color #292828
custom_background_color #32302f
custom_text_color #ebdbb2

page_separator_color #292828
search_highlight_color #d8a657
status_bar_color #292828
status_bar_text_color #ebdbb2
ui_text_color #ebdbb2
ui_selected_text_color #ebdbb2
ui_background_color #32302f
ui_selected_background_color #665c54
background_color #292828
visual_mark_color #89b482
text_highlight_color #665c54
link_highlight_color #7daea3
synctex_highlight_colour #ea6962
