# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Atelier Lakeside Light scheme byBram de Haan (http://atelierbramdehaan.nl)

custom_background_color #ebf8ff
custom_text_color #1f292e

page_separator_color #ebf8ff
search_highlight_color #8a8a0f
status_bar_color #ebf8ff
status_bar_text_color #1f292e
ui_text_color #1f292e
ui_selected_text_color #1f292e
ui_background_color #c1e4f6
ui_selected_background_color #7195a8
background_color #ebf8ff
visual_mark_color #2d8f6f
text_highlight_color #7195a8
link_highlight_color #257fad
synctex_highlight_colour #d22d72
