# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Primer Dark Dimmed scheme byJimmy Lin

custom_background_color #1c2128
custom_text_color #adbac7

page_separator_color #1c2128
search_highlight_color #c69026
status_bar_color #1c2128
status_bar_text_color #adbac7
ui_text_color #adbac7
ui_selected_text_color #adbac7
ui_background_color #373e47
ui_selected_background_color #545d68
background_color #1c2128
visual_mark_color 0.32941177 0.3647059 0.40784314 0.2
text_highlight_color #545d68
link_highlight_color #539bf5
synctex_highlight_color #f47067
