# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Atelier Lakeside scheme by Bram de Haan (http://atelierbramdehaan.nl)

custom_background_color #161b1d
custom_text_color #c1e4f6

page_separator_color #161b1d
search_highlight_color #8a8a0f
status_bar_color #161b1d
status_bar_text_color #c1e4f6
ui_text_color #c1e4f6
ui_selected_text_color #c1e4f6
ui_background_color #1f292e
ui_selected_background_color #5a7b8c
background_color #161b1d
visual_mark_color 0.35294118 0.48235294 0.54901961 0.2
text_highlight_color #5a7b8c
link_highlight_color #257fad
synctex_highlight_color #d22d72
