# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Heetch Dark scheme by Geoffrey Teale (tealeg@gmail.com)

custom_background_color #190134
custom_text_color #dedae2

page_separator_color #190134
search_highlight_color #8f6c97
status_bar_color #190134
status_bar_text_color #dedae2
ui_text_color #dedae2
ui_selected_text_color #dedae2
ui_background_color #392551
ui_selected_background_color #7b6d8b
background_color #190134
visual_mark_color 0.48235294 0.42745098 0.54509804 0.2
text_highlight_color #7b6d8b
link_highlight_color #bd0152
synctex_highlight_color #27d9d5
