# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Harmonic16 Dark scheme byJannik Siebert (https://github.com/janniks)

custom_background_color #0b1c2c
custom_text_color #e5ebf1

page_separator_color #0b1c2c
search_highlight_color #8bbf56
status_bar_color #0b1c2c
status_bar_text_color #e5ebf1
ui_text_color #e5ebf1
ui_selected_text_color #e5ebf1
ui_background_color #223b54
ui_selected_background_color #627e99
background_color #0b1c2c
visual_mark_color 0.38431373 0.49411765 0.6 0.2
text_highlight_color #627e99
link_highlight_color #8b56bf
synctex_highlight_colour #bf8b56
