# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Woodland scheme by Jay Cornwall (https://jcornwall.com)

custom_background_color #231e18
custom_text_color #d7c8bc

page_separator_color #231e18
search_highlight_color #e0ac16
status_bar_color #231e18
status_bar_text_color #d7c8bc
ui_text_color #d7c8bc
ui_selected_text_color #d7c8bc
ui_background_color #302b25
ui_selected_background_color #9d8b70
background_color #231e18
visual_mark_color 0.61568627 0.54509804 0.43921569 0.2
text_highlight_color #9d8b70
link_highlight_color #88a4d3
synctex_highlight_color #d35c5c
