# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Isotope scheme by Jan T. Sott

custom_background_color #000000
custom_text_color #e0e0e0

page_separator_color #000000
search_highlight_color #ff0099
status_bar_color #000000
status_bar_text_color #e0e0e0
ui_text_color #e0e0e0
ui_selected_text_color #e0e0e0
ui_background_color #404040
ui_selected_background_color #808080
background_color #000000
visual_mark_color 0.50196078 0.50196078 0.50196078 0.2
text_highlight_color #808080
link_highlight_color #0066ff
synctex_highlight_color #ff0000
