# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Pico scheme by PICO-8 (http://www.lexaloffle.com/pico-8.php)

custom_background_color #000000
custom_text_color #c2c3c7

page_separator_color #000000
search_highlight_color #fff024
status_bar_color #000000
status_bar_text_color #c2c3c7
ui_text_color #c2c3c7
ui_selected_text_color #c2c3c7
ui_background_color #1d2b53
ui_selected_background_color #008751
background_color #000000
visual_mark_color 0 0 0 0.2
text_highlight_color #008751
link_highlight_color #83769c
synctex_highlight_color #ff004d
