# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Atelier Savanna Light scheme by Bram de Haan (http://atelierbramdehaan.nl)

custom_background_color #ecf4ee
custom_text_color #232a25

page_separator_color #ecf4ee
search_highlight_color #a07e3b
status_bar_color #ecf4ee
status_bar_text_color #232a25
ui_text_color #232a25
ui_selected_text_color #232a25
ui_background_color #dfe7e2
ui_selected_background_color #78877d
background_color #ecf4ee
visual_mark_color 0 0 0 0.2
text_highlight_color #78877d
link_highlight_color #478c90
synctex_highlight_color #b16139
