# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Google Dark scheme bySeth Wright (http://sethawright.com)

custom_background_color #1d1f21
custom_text_color #e0e0e0

page_separator_color #1d1f21
search_highlight_color #fba922
status_bar_color #1d1f21
status_bar_text_color #e0e0e0
ui_text_color #e0e0e0
ui_selected_text_color #e0e0e0
ui_background_color #282a2e
ui_selected_background_color #969896
background_color #1d1f21
visual_mark_color #3971ed
text_highlight_color #969896
link_highlight_color #3971ed
synctex_highlight_colour #cc342b
