# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Monokai scheme byWimer Hazenberg (http://www.monokai.nl)

custom_background_color #272822
custom_text_color #f5f4f1

page_separator_color #272822
search_highlight_color #f4bf75
status_bar_color #272822
status_bar_text_color #f5f4f1
ui_text_color #f5f4f1
ui_selected_text_color #f5f4f1
ui_background_color #383830
ui_selected_background_color #75715e
background_color #272822
visual_mark_color #a1efe4
text_highlight_color #75715e
link_highlight_color #66d9ef
synctex_highlight_colour #f92672
