# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Heetch Light scheme byGeoffrey Teale (tealeg@gmail.com)

custom_color_mode_empty_background_color #feffff
custom_background_color #392551
custom_text_color #470546

page_separator_color #feffff
search_highlight_color #5ba2b6
status_bar_color #feffff
status_bar_text_color #470546
ui_text_color #470546
ui_selected_text_color #470546
ui_background_color #392551
ui_selected_background_color #9c92a8
background_color #feffff
visual_mark_color #c33678
text_highlight_color #9c92a8
link_highlight_color #47f9f5
synctex_highlight_colour #27d9d5
