# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Dark Violet scheme by ruler501 (https://github.com/ruler501/base16-darkviolet)

custom_background_color #000000
custom_text_color #9045e6

page_separator_color #000000
search_highlight_color #f29df2
status_bar_color #000000
status_bar_text_color #9045e6
ui_text_color #9045e6
ui_selected_text_color #9045e6
ui_background_color #231a40
ui_selected_background_color #593380
background_color #000000
visual_mark_color 0.34901961 0.20000000 0.50196078 0.2
text_highlight_color #593380
link_highlight_color #4136d9
synctex_highlight_color #a82ee6
