# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# OneDark Dark scheme by olimorris (https://github.com/olimorris)

custom_background_color #000000
custom_text_color #b6bdca

page_separator_color #000000
search_highlight_color #e5c07b
status_bar_color #000000
status_bar_text_color #b6bdca
ui_text_color #b6bdca
ui_selected_text_color #b6bdca
ui_background_color #1c1f24
ui_selected_background_color #434852
background_color #000000
visual_mark_color 0.26274510 0.28235294 0.32156863 0.2
text_highlight_color #434852
link_highlight_color #61afef
synctex_highlight_color #ef596f
