# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Oxocarbon Dark scheme by shaunsingh/IBM

custom_background_color #161616
custom_text_color #ffffff

page_separator_color #161616
search_highlight_color #ee5396
status_bar_color #161616
status_bar_text_color #ffffff
ui_text_color #ffffff
ui_selected_text_color #ffffff
ui_background_color #262626
ui_selected_background_color #525252
background_color #161616
visual_mark_color 0.32156863 0.32156863 0.32156863 0.2
text_highlight_color #525252
link_highlight_color #42be65
synctex_highlight_color #3ddbd9
