# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Primer Light scheme by Jimmy Lin

custom_background_color #fafbfc
custom_text_color #24292e

page_separator_color #fafbfc
search_highlight_color #ffd33d
status_bar_color #fafbfc
status_bar_text_color #24292e
ui_text_color #24292e
ui_selected_text_color #24292e
ui_background_color #e1e4e8
ui_selected_background_color #959da5
background_color #fafbfc
visual_mark_color 0 0 0 0.2
text_highlight_color #959da5
link_highlight_color #0366d6
synctex_highlight_color #d73a49
