# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Paraiso scheme by Jan T. Sott

custom_background_color #2f1e2e
custom_text_color #b9b6b0

page_separator_color #2f1e2e
search_highlight_color #fec418
status_bar_color #2f1e2e
status_bar_text_color #b9b6b0
ui_text_color #b9b6b0
ui_selected_text_color #b9b6b0
ui_background_color #41323f
ui_selected_background_color #776e71
background_color #2f1e2e
visual_mark_color 0.46666667 0.43137255 0.44313725 0.2
text_highlight_color #776e71
link_highlight_color #06b6ef
synctex_highlight_color #ef6155
