# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Precious Light White scheme by 4lex4 &lt;4lex49@zoho.com&gt;

custom_background_color #ffffff
custom_text_color #555555

page_separator_color #ffffff
search_highlight_color #876500
status_bar_color #ffffff
status_bar_text_color #555555
ui_text_color #555555
ui_selected_text_color #555555
ui_background_color #ededed
ui_selected_background_color #848484
background_color #ffffff
visual_mark_color 0 0 0 0.2
text_highlight_color #848484
link_highlight_color #186daa
synctex_highlight_color #af4947
