# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Precious Dark Eleven scheme by4lex4 &lt;4lex49@zoho.com&gt;

custom_background_color #1c1e20
custom_text_color #b8b7b6

page_separator_color #1c1e20
search_highlight_color #d0a543
status_bar_color #1c1e20
status_bar_text_color #b8b7b6
ui_text_color #b8b7b6
ui_selected_text_color #b8b7b6
ui_background_color #292b2d
ui_selected_background_color #858585
background_color #1c1e20
visual_mark_color 0.52156866 0.52156866 0.52156866 0.2
text_highlight_color #858585
link_highlight_color #68b0ee
synctex_highlight_color #ff8782
