# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Zenbones scheme bymcchrish

custom_color_mode_empty_background_color #191919
custom_background_color #de6e7c
custom_text_color #66a5ad

page_separator_color #191919
search_highlight_color #8bae68
status_bar_color #191919
status_bar_text_color #66a5ad
ui_text_color #66a5ad
ui_selected_text_color #66a5ad
ui_background_color #de6e7c
ui_selected_background_color #b77e64
background_color #191919
visual_mark_color #61abda
text_highlight_color #b77e64
link_highlight_color #cf86c1
synctex_highlight_colour #3d3839
