# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Summerfruit Dark scheme byChristopher Corley (http://christop.club/)

custom_background_color #151515
custom_text_color #e0e0e0

page_separator_color #151515
search_highlight_color #aba800
status_bar_color #151515
status_bar_text_color #e0e0e0
ui_text_color #e0e0e0
ui_selected_text_color #e0e0e0
ui_background_color #202020
ui_selected_background_color #505050
background_color #151515
visual_mark_color #1faaaa
text_highlight_color #505050
link_highlight_color #3777e6
synctex_highlight_colour #ff0086
