# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Humanoid dark scheme byThomas (tasmo) Friese

custom_background_color #232629
custom_text_color #fcfcf6

page_separator_color #232629
search_highlight_color #ffb627
status_bar_color #232629
status_bar_text_color #fcfcf6
ui_text_color #fcfcf6
ui_selected_text_color #fcfcf6
ui_background_color #333b3d
ui_selected_background_color #60615d
background_color #232629
visual_mark_color #0dd9d6
text_highlight_color #60615d
link_highlight_color #00a6fb
synctex_highlight_colour #f11235
