# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Atelier Savanna Light scheme byBram de Haan (http://atelierbramdehaan.nl)

custom_color_mode_empty_background_color #ecf4ee
custom_background_color #dfe7e2
custom_text_color #232a25

page_separator_color #ecf4ee
search_highlight_color #a07e3b
status_bar_color #ecf4ee
status_bar_text_color #232a25
ui_text_color #232a25
ui_selected_text_color #232a25
ui_background_color #dfe7e2
ui_selected_background_color #78877d
background_color #ecf4ee
visual_mark_color #1c9aa0
text_highlight_color #78877d
link_highlight_color #478c90
synctex_highlight_colour #b16139
