# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Twilight scheme by David Hart (https://github.com/hartbit)

custom_background_color #1e1e1e
custom_text_color #c3c3c3

page_separator_color #1e1e1e
search_highlight_color #f9ee98
status_bar_color #1e1e1e
status_bar_text_color #c3c3c3
ui_text_color #c3c3c3
ui_selected_text_color #c3c3c3
ui_background_color #323537
ui_selected_background_color #5f5a60
background_color #1e1e1e
visual_mark_color 0.37254902 0.35294118 0.37647059 0.2
text_highlight_color #5f5a60
link_highlight_color #7587a6
synctex_highlight_color #cf6a4c
