# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Materia scheme byDefman21

custom_background_color #263238
custom_text_color #d5dbe5

page_separator_color #263238
search_highlight_color #ffcc00
status_bar_color #263238
status_bar_text_color #d5dbe5
ui_text_color #d5dbe5
ui_selected_text_color #d5dbe5
ui_background_color #2c393f
ui_selected_background_color #707880
background_color #263238
visual_mark_color #80cbc4
text_highlight_color #707880
link_highlight_color #89ddff
synctex_highlight_colour #ec5f67
