# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Flat scheme by Chris Kempson (http://chriskempson.com)

custom_background_color #2c3e50
custom_text_color #f5f5f5

page_separator_color #2c3e50
search_highlight_color #f1c40f
status_bar_color #2c3e50
status_bar_text_color #f5f5f5
ui_text_color #f5f5f5
ui_selected_text_color #f5f5f5
ui_background_color #34495e
ui_selected_background_color #95a5a6
background_color #2c3e50
visual_mark_color 0.58431373 0.64705882 0.65098039 0.2
text_highlight_color #95a5a6
link_highlight_color #3498db
synctex_highlight_color #e74c3c
