# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Paraiso scheme byJan T. Sott

custom_color_mode_empty_background_color #2f1e2e
custom_background_color #41323f
custom_text_color #b9b6b0

page_separator_color #2f1e2e
search_highlight_color #fec418
status_bar_color #2f1e2e
status_bar_text_color #b9b6b0
ui_text_color #b9b6b0
ui_selected_text_color #b9b6b0
ui_background_color #41323f
ui_selected_background_color #776e71
background_color #2f1e2e
visual_mark_color #5bc4bf
text_highlight_color #776e71
link_highlight_color #06b6ef
synctex_highlight_colour #ef6155
