# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Bespin scheme byJan T. Sott

custom_background_color #28211c
custom_text_color #9d9b97

page_separator_color #28211c
search_highlight_color #f9ee98
status_bar_color #28211c
status_bar_text_color #9d9b97
ui_text_color #9d9b97
ui_selected_text_color #9d9b97
ui_background_color #36312e
ui_selected_background_color #666666
background_color #28211c
visual_mark_color 0.4 0.4 0.4 0.2
text_highlight_color #666666
link_highlight_color #5ea6ea
synctex_highlight_color #cf6a4c
