# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Codeschool scheme by blockloop

custom_background_color #232c31
custom_text_color #a7cfa3

page_separator_color #232c31
search_highlight_color #a03b1e
status_bar_color #232c31
status_bar_text_color #a7cfa3
ui_text_color #a7cfa3
ui_selected_text_color #a7cfa3
ui_background_color #1c3657
ui_selected_background_color #3f4944
background_color #232c31
visual_mark_color 0 0 0 0.2
text_highlight_color #3f4944
link_highlight_color #484d79
synctex_highlight_color #2a5491
