# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Measured Dark scheme by Measured (https://measured.co)

custom_background_color #00211f
custom_text_color #efefef

page_separator_color #00211f
search_highlight_color #bfac4e
status_bar_color #00211f
status_bar_text_color #efefef
ui_text_color #efefef
ui_selected_text_color #efefef
ui_background_color #003a38
ui_selected_background_color #ababab
background_color #00211f
visual_mark_color 0 0 0 0.2
text_highlight_color #ababab
link_highlight_color #88b0da
synctex_highlight_color #ce7e8e
