# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Equilibrium Dark scheme by Carlo Abelli

custom_background_color #0c1118
custom_text_color #cac6bd

page_separator_color #0c1118
search_highlight_color #bb8801
status_bar_color #0c1118
status_bar_text_color #cac6bd
ui_text_color #cac6bd
ui_selected_text_color #cac6bd
ui_background_color #181c22
ui_selected_background_color #7b776e
background_color #0c1118
visual_mark_color 0.48235294 0.46666667 0.43137255 0.2
text_highlight_color #7b776e
link_highlight_color #008dd1
synctex_highlight_color #f04339
