# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Tokyo Night Light scheme by Michaël Ball

custom_background_color #d5d6db
custom_text_color #1a1b26

page_separator_color #d5d6db
search_highlight_color #166775
status_bar_color #d5d6db
status_bar_text_color #1a1b26
ui_text_color #1a1b26
ui_selected_text_color #1a1b26
ui_background_color #cbccd1
ui_selected_background_color #9699a3
background_color #d5d6db
visual_mark_color 0 0 0 0.2
text_highlight_color #9699a3
link_highlight_color #34548a
synctex_highlight_color #343b58
