# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Catppuccin Frappe scheme byhttps://github.com/catppuccin/catppuccin

custom_background_color #303446
custom_text_color #f2d5cf

page_separator_color #303446
search_highlight_color #e5c890
status_bar_color #303446
status_bar_text_color #f2d5cf
ui_text_color #f2d5cf
ui_selected_text_color #f2d5cf
ui_background_color #292c3c
ui_selected_background_color #51576d
background_color #303446
visual_mark_color 0.31764707 0.34117648 0.42745098 0.2
text_highlight_color #51576d
link_highlight_color #8caaee
synctex_highlight_color #e78284
