# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Material Palenight scheme by Nate Peterson

custom_background_color #292d3e
custom_text_color #959dcb

page_separator_color #292d3e
search_highlight_color #ffcb6b
status_bar_color #292d3e
status_bar_text_color #959dcb
ui_text_color #959dcb
ui_selected_text_color #959dcb
ui_background_color #444267
ui_selected_background_color #676e95
background_color #292d3e
visual_mark_color 0.40392157 0.43137255 0.58431373 0.2
text_highlight_color #676e95
link_highlight_color #82aaff
synctex_highlight_color #f07178
