# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Solarized Dark scheme by Ethan Schoonover (modified by aramisgithub)

custom_background_color #002b36
custom_text_color #eee8d5

page_separator_color #002b36
search_highlight_color #b58900
status_bar_color #002b36
status_bar_text_color #eee8d5
ui_text_color #eee8d5
ui_selected_text_color #eee8d5
ui_background_color #073642
ui_selected_background_color #657b83
background_color #002b36
visual_mark_color 0 0 0 0.2
text_highlight_color #657b83
link_highlight_color #268bd2
synctex_highlight_color #dc322f
