# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Vesper scheme by FormalSnake (https://github.com/formalsnake)

custom_background_color #101010
custom_text_color #c1c1c1

page_separator_color #101010
search_highlight_color #ffc799
status_bar_color #101010
status_bar_text_color #c1c1c1
ui_text_color #c1c1c1
ui_selected_text_color #c1c1c1
ui_background_color #232323
ui_selected_background_color #333333
background_color #101010
visual_mark_color 0 0 0 0.2
text_highlight_color #333333
link_highlight_color #8eaaaa
synctex_highlight_color #de6e6e
