# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# selenized-white scheme byJan Warchol (https://github.com/jan-warchol/selenized) / adapted to base16 by ali

custom_background_color #ffffff
custom_text_color #282828

page_separator_color #ffffff
search_highlight_color #af8500
status_bar_color #ffffff
status_bar_text_color #282828
ui_text_color #282828
ui_selected_text_color #282828
ui_background_color #ebebeb
ui_selected_background_color #878787
background_color #ffffff
visual_mark_color 0.5294118 0.5294118 0.5294118 0.2
text_highlight_color #878787
link_highlight_color #0054cf
synctex_highlight_colour #bf0000
