# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Nova scheme byGeorge Essig (https://github.com/gessig), Trevor D. Miller (https://trevordmiller.com)

custom_background_color #3c4c55
custom_text_color #899ba6

page_separator_color #3c4c55
search_highlight_color #a8ce93
status_bar_color #3c4c55
status_bar_text_color #899ba6
ui_text_color #899ba6
ui_selected_text_color #899ba6
ui_background_color #556873
ui_selected_background_color #899ba6
background_color #3c4c55
visual_mark_color 0.5372549 0.60784316 0.6509804 0.2
text_highlight_color #899ba6
link_highlight_color #83afe5
synctex_highlight_color #83afe5
