# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Atlas scheme byAlex Lende (https://ajlende.com)

custom_background_color #002635
custom_text_color #e6e6dc

page_separator_color #002635
search_highlight_color #ffcc1b
status_bar_color #002635
status_bar_text_color #e6e6dc
ui_text_color #e6e6dc
ui_selected_text_color #e6e6dc
ui_background_color #00384d
ui_selected_background_color #6c8b91
background_color #002635
visual_mark_color #14747e
text_highlight_color #6c8b91
link_highlight_color #5dd7b9
synctex_highlight_colour #ff5a67
