# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# standardized-light scheme byali (https://github.com/ali-githb/base16-standardized-scheme)

custom_background_color #ffffff
custom_text_color #333333

page_separator_color #ffffff
search_highlight_color #ad8200
status_bar_color #ffffff
status_bar_text_color #333333
ui_text_color #333333
ui_selected_text_color #333333
ui_background_color #eeeeee
ui_selected_background_color #767676
background_color #ffffff
visual_mark_color 0.4627451 0.4627451 0.4627451 0.2
text_highlight_color #767676
link_highlight_color #3173c5
synctex_highlight_color #d03e3e
