# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Nord Light scheme bythreddast, based on fuxialexander&#39;s doom-nord-light-theme (Doom Emacs)

custom_background_color #e5e9f0
custom_text_color #3b4252

page_separator_color #e5e9f0
search_highlight_color #9a7500
status_bar_color #e5e9f0
status_bar_text_color #3b4252
ui_text_color #3b4252
ui_selected_text_color #3b4252
ui_background_color #c2d0e7
ui_selected_background_color #aebacf
background_color #e5e9f0
visual_mark_color 0.68235296 0.7294118 0.8117647 0.2
text_highlight_color #aebacf
link_highlight_color #3b6ea8
synctex_highlight_color #99324b
