# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Tokyodark Terminal scheme byTiagovla (https://github.com/tiagovla/)

custom_background_color #11121d
custom_text_color #a0a8cd

page_separator_color #11121d
search_highlight_color #d7a65f
status_bar_color #11121d
status_bar_text_color #a0a8cd
ui_text_color #a0a8cd
ui_selected_text_color #a0a8cd
ui_background_color #1a1b2a
ui_selected_background_color #282c34
background_color #11121d
visual_mark_color 0.15686275 0.17254902 0.20392157 0.2
text_highlight_color #282c34
link_highlight_color #7199ee
synctex_highlight_colour #ee6d85
