# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# One Light scheme by Daniel Pfeifer (http://github.com/purpleKarrot)

custom_background_color #fafafa
custom_text_color #202227

page_separator_color #fafafa
search_highlight_color #c18401
status_bar_color #fafafa
status_bar_text_color #202227
ui_text_color #202227
ui_selected_text_color #202227
ui_background_color #f0f0f1
ui_selected_background_color #a0a1a7
background_color #fafafa
visual_mark_color 0.62745098 0.63137255 0.65490196 0.2
text_highlight_color #a0a1a7
link_highlight_color #4078f2
synctex_highlight_color #ca1243
