# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# pinky scheme byBenjamin (https://github.com/b3nj5m1n)

custom_background_color #171517
custom_text_color #ffffff

page_separator_color #171517
search_highlight_color #20df6c
status_bar_color #171517
status_bar_text_color #ffffff
ui_text_color #ffffff
ui_selected_text_color #ffffff
ui_background_color #1b181b
ui_selected_background_color #383338
background_color #171517
visual_mark_color 0.21960784 0.2 0.21960784 0.2
text_highlight_color #383338
link_highlight_color #00ffff
synctex_highlight_colour #ffa600
