# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Apprentice scheme by romainl

custom_background_color #262626
custom_text_color #5f8787

page_separator_color #262626
search_highlight_color #87af87
status_bar_color #262626
status_bar_text_color #5f8787
ui_text_color #5f8787
ui_selected_text_color #5f8787
ui_background_color #af5f5f
ui_selected_background_color #87875f
background_color #262626
visual_mark_color 0 0 0 0.2
text_highlight_color #87875f
link_highlight_color #8787af
synctex_highlight_color #444444
