# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Snazzy scheme byChawye Hsu (https://github.com/chawyehsu) based on Hyper Snazzy Theme (https://github.com/sindresorhus/hyper-snazzy)

custom_background_color #282a36
custom_text_color #eff0eb

page_separator_color #282a36
search_highlight_color #f3f99d
status_bar_color #282a36
status_bar_text_color #eff0eb
ui_text_color #eff0eb
ui_selected_text_color #eff0eb
ui_background_color #34353e
ui_selected_background_color #78787e
background_color #282a36
visual_mark_color 0.47058824 0.47058824 0.49411765 0.2
text_highlight_color #78787e
link_highlight_color #57c7ff
synctex_highlight_colour #ff5c57
