# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Hardcore scheme byChris Caller

custom_background_color #212121
custom_text_color #e5e5e5

page_separator_color #212121
search_highlight_color #e6db74
status_bar_color #212121
status_bar_text_color #e5e5e5
ui_text_color #e5e5e5
ui_selected_text_color #e5e5e5
ui_background_color #303030
ui_selected_background_color #4a4a4a
background_color #212121
visual_mark_color 0.2901961 0.2901961 0.2901961 0.2
text_highlight_color #4a4a4a
link_highlight_color #66d9ef
synctex_highlight_color #f92672
