# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# OceanicNext scheme byhttps://github.com/voronianski/oceanic-next-color-scheme

custom_background_color #1b2b34
custom_text_color #cdd3de

page_separator_color #1b2b34
search_highlight_color #fac863
status_bar_color #1b2b34
status_bar_text_color #cdd3de
ui_text_color #cdd3de
ui_selected_text_color #cdd3de
ui_background_color #343d46
ui_selected_background_color #65737e
background_color #1b2b34
visual_mark_color #5fb3b3
text_highlight_color #65737e
link_highlight_color #6699cc
synctex_highlight_colour #ec5f67
