# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Spaceduck scheme byGuillermo Rodriguez (https://github.com/pineapplegiant), packaged by Gabriel Fontes (https://github.com/Misterio77)

custom_background_color #16172d
custom_text_color #c1c3cc

page_separator_color #16172d
search_highlight_color #f2ce00
status_bar_color #16172d
status_bar_text_color #c1c3cc
ui_text_color #c1c3cc
ui_selected_text_color #c1c3cc
ui_background_color #1b1c36
ui_selected_background_color #686f9a
background_color #16172d
visual_mark_color #00a3cc
text_highlight_color #686f9a
link_highlight_color #7a5ccc
synctex_highlight_colour #e33400
