# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Katy scheme byGeorge Essig (https://github.com/gessig)

custom_background_color #292d3e
custom_text_color #959dcb

page_separator_color #292d3e
search_highlight_color #e0a557
status_bar_color #292d3e
status_bar_text_color #959dcb
ui_text_color #959dcb
ui_selected_text_color #959dcb
ui_background_color #444267
ui_selected_background_color #676e95
background_color #292d3e
visual_mark_color #83b7e5
text_highlight_color #676e95
link_highlight_color #82aaff
synctex_highlight_colour #6e98e1
