# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Shades of Purple scheme by Iolar Demartini Junior (http://github.com/demartini
based on Shades of Purple Theme (https://github.com/ahmadawais/shades-of-purple-vscode).


custom_background_color #1e1e3f
custom_text_color #ff77ff

page_separator_color #1e1e3f
search_highlight_color #ffe700
status_bar_color #1e1e3f
status_bar_text_color #ff77ff
ui_text_color #ff77ff
ui_selected_text_color #ff77ff
ui_background_color #43d426
ui_selected_background_color #808080
background_color #1e1e3f
visual_mark_color 0 0 0 0.2
text_highlight_color #808080
link_highlight_color #6943ff
synctex_highlight_color #d90429
