# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Mocha scheme byChris Kempson (http://chriskempson.com)

custom_background_color #3b3228
custom_text_color #e9e1dd

page_separator_color #3b3228
search_highlight_color #f4bc87
status_bar_color #3b3228
status_bar_text_color #e9e1dd
ui_text_color #e9e1dd
ui_selected_text_color #e9e1dd
ui_background_color #534636
ui_selected_background_color #7e705a
background_color #3b3228
visual_mark_color 0.49411765 0.4392157 0.3529412 0.2
text_highlight_color #7e705a
link_highlight_color #8ab3b5
synctex_highlight_colour #cb6077
