# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Rebecca scheme byVictor Borja (http://github.com/vic) based on Rebecca Theme (http://github.com/vic/rebecca-theme)

custom_background_color #292a44
custom_text_color #ccccff

page_separator_color #292a44
search_highlight_color #ae81ff
status_bar_color #292a44
status_bar_text_color #ccccff
ui_text_color #ccccff
ui_selected_text_color #ccccff
ui_background_color #663399
ui_selected_background_color #666699
background_color #292a44
visual_mark_color #8eaee0
text_highlight_color #666699
link_highlight_color #2de0a7
synctex_highlight_colour #a0a0c5
