# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Everforest scheme bySainnhe Park (https://github.com/sainnhe)

custom_background_color #2f383e
custom_text_color #e4e1cd

page_separator_color #2f383e
search_highlight_color #dbbc7f
status_bar_color #2f383e
status_bar_text_color #e4e1cd
ui_text_color #e4e1cd
ui_selected_text_color #e4e1cd
ui_background_color #374247
ui_selected_background_color #859289
background_color #2f383e
visual_mark_color 0.52156866 0.57254905 0.5372549 0.2
text_highlight_color #859289
link_highlight_color #a7c080
synctex_highlight_color #7fbbb3
