# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# tarot scheme by ed (https://codeberg.org/ed)

custom_background_color #0e091d
custom_text_color #c4686d

page_separator_color #0e091d
search_highlight_color #ff6565
status_bar_color #0e091d
status_bar_text_color #c4686d
ui_text_color #c4686d
ui_selected_text_color #c4686d
ui_background_color #2a153c
ui_selected_background_color #74316b
background_color #0e091d
visual_mark_color 0.45490196 0.19215686 0.41960784 0.2
text_highlight_color #74316b
link_highlight_color #6e6080
synctex_highlight_color #c53253
