# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Windows 10 Light scheme by Fergus Collins (https://github.com/C-Fergus)

custom_background_color #f2f2f2
custom_text_color #414141

page_separator_color #f2f2f2
search_highlight_color #c19c00
status_bar_color #f2f2f2
status_bar_text_color #414141
ui_text_color #414141
ui_selected_text_color #414141
ui_background_color #e5e5e5
ui_selected_background_color #cccccc
background_color #f2f2f2
visual_mark_color 0.80000000 0.80000000 0.80000000 0.2
text_highlight_color #cccccc
link_highlight_color #0037da
synctex_highlight_color #c50f1f
