# base16-sioyek (https://github.com/loiccoyle/base16-sioyek)
# by Loic Coyle
# Gruvbox Material Light, Hard scheme by Mayush Kumar (https://github.com/MayushKumar), sainnhe (https://github.com/sainnhe/gruvbox-material-vscode)

custom_background_color #f9f5d7
custom_text_color #3c3836

page_separator_color #f9f5d7
search_highlight_color #b47109
status_bar_color #f9f5d7
status_bar_text_color #3c3836
ui_text_color #3c3836
ui_selected_text_color #3c3836
ui_background_color #fbf1c7
ui_selected_background_color #a89984
background_color #f9f5d7
visual_mark_color 0 0 0 0.2
text_highlight_color #a89984
link_highlight_color #45707a
synctex_highlight_color #c14a4a
